article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222
}

abbr[title] {
    border-bottom: 1px dotted
}

dfn {
    font-style: italic
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none
}

mark {
    background: #ff0;
    color: #000
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

q:before,
q:after {
    content: "";
    content: none
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle
}

img::selection {
    background: transparent
}

img::-moz-selection {
    background: transparent
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

form {
    margin: 0
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

label {
    cursor: pointer
}

legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
    white-space: normal
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button,
input {
    line-height: normal
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible
}

button[disabled],
input[disabled] {
    cursor: default
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *width: 13px;
    *height: 13px
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}

input:invalid,
textarea:invalid {
    background-color: #f0dddd
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td {
    vertical-align: top
}

html {
    background: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    color: #5e5e5e;
    font-size: 1.125em;
    line-height: 1.55556;
    font-weight: normal
}

body,
html {
    height: 100%
}

body {
    margin: 0;
    font-family: "apercuregular", Helvetica, Arial, sans-serif
}

a {
    color: #5b9fca;
    text-decoration: none
}

a:active {
    color: #5b9fca;
    outline: 0
}

a:focus {
    outline: 0
}

a:hover {
    color: #f5f9fc;
    outline: 0
}

::-moz-selection {
    background: #5b9fca;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #5b9fca;
    color: #fff;
    text-shadow: none
}

@font-face {
    font-family: "garageggothicregular";
    src: url("../fonts/garagegothic-regular-webfont.eot");
    src: url("../fonts/garagegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/garagegothic-regular-webfont.woff") format("woff"), url("../fonts/garagegothic-regular-webfont.ttf") format("truetype"), url("../fonts/garagegothic-regular-webfont.svg#garagegothicregular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "apercuregular";
    src: url("../fonts/apercu-regular-webfont.eot");
    src: url("../fonts/apercu-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu-regular-webfont.woff") format("woff"), url("../fonts/apercu-regular-webfont.ttf") format("truetype"), url("../fonts/apercu-regular-webfont.svg#_.regular") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "apercubold";
    src: url("../fonts/apercu-bold-webfont.eot");
    src: url("../fonts/apercu-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/apercu-bold-webfont.woff") format("woff"), url("../fonts/apercu-bold-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "garageggothicregular", "Arial Narrow", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #5b9fca;
    text-transform: uppercase;
    margin: 0
}

h1 {
    font-size: 68px;
    font-size: 3.77778rem;
    line-height: 1.23529
}

h2 {
    font-size: 64px;
    font-size: 3.55556rem;
    line-height: 1.0125
}

h3 {
    font-size: 46px;
    font-size: 2.55556rem;
    line-height: 1.21739
}

h4 {
    font-size: 44px;
    font-size: 2.33333rem;
    line-height: 1.23333
}

h5 {
    font-size: 36px;
    font-size: 2rem;
    line-height: 1.25556
}

h6 {
    font-size: 34px;
    font-size: 1.88889rem;
    line-height: 1.34706
}

ul,
ol,
dd {
    padding: 0;
    margin: 0;
    list-style: disc;
    margin-left: 56px;
    margin-left: 3.11111rem
}

li>ul,
li>ol {
    margin-bottom: 0
}

p {
    margin: 0
}

b,
strong {
    font-weight: normal;
    font-family: "apercubold", Helvetica, Arial, sans-serif
}

small {
    font-size: 85%
}

blockquote {
    padding-left: 56px;
    padding-left: 3.11111rem;
    margin: 0;
    position: relative
}

blockquote cite {
    display: block;
    font-style: normal;
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.55556;
    margin-top: 3%
}

blockquote cite:before {
    content: "\2014 ";
    margin: 0 5px 0 0
}

blockquote:before {
    display: block;
    content: '\201C';
    position: absolute;
    left: 0;
    top: -30px;
    font-family: Georgia, serif;
    font-size: 500%;
    color: #fff
}

hr {
    display: block;
    height: 1px;
    border: 0;
    padding: 0;
    margin: 28px 0;
    margin: 1.55556rem 0;
    border-top: 2px solid #bbb;
    border-top: 2px solid rgba(0, 0, 0, 0.15)
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
    margin-bottom: 28px
}

a,
.button,
.lang li a,
.nav-button,
.nav-main ul,
.nav-main li:not(.icons) a,
.slide-dots span,
.slide-next,
.slide-prev,
.text img:not(.text-template--img),
.box--img img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

a,
.button,
.gallery-title,
.slide-title .block-them span,
.slide-next,
.slide-prev,
.text img:not(.text-template--img),
.box--img img {
    -webkit-transition-property: background-color, color, opacity, -webkit-transform, border-color, top;
    -moz-transition-property: background-color, color, opacity, -moz-transform, border-color, top;
    -o-transition-property: background-color, color, opacity, -o-transform, border-color, top;
    transition-property: background-color, color, opacity, transform, border-color, top
}

.nav-main *,
.slideshow,
.slideshow *,
.block-list li a {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden
}

.ja .logo-img,
.ru .logo-img,
.nav-button,
.nav-mobile,
.slide-next,
.slide-prev,
.home .footer,
.page-template-gallery-crop-php .footer,
.page-template-gallery-scale-php .footer,
.footer .icons,
.footer--bottom br {
    display: none !important
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .logo-img,
    .screen-medium-hidden {
        display: none !important
    }
}

@media all and (max-width: 767px) {
    .ja .logo-img,
    .ru .logo-img,
    .nav-button,
    .nav-mobile,
    .slide-next,
    .slide-prev,
    .home .footer,
    .page-template-gallery-crop-php .footer,
    .page-template-gallery-scale-php .footer,
    .footer .icons,
    .footer--bottom br {
        display: inherit !important
    }
    .nav-main,
    .slide-dots,
    .csstransforms .block-list .button:after,
    .footer--top,
    .footer--bottom span,
    #muumi_map,
    #fb-like,
    .screen-small-hidden {
        display: none !important
    }
}

.alignright {
    float: right
}

.alignleft {
    float: left
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0
}

.page-header,
.logo,
.lang,
.nav-main ul,
.nav-mobile ul,
.block-list,
.page-content,
.wrap,
.page--wrap,
.box-row,
.widget,
.footer,
.footer--bottom {
    *zoom: 1
}

.page-header:before,
.logo:before,
.lang:before,
.nav-main ul:before,
.nav-mobile ul:before,
.block-list:before,
.page-content:before,
.wrap:before,
.page--wrap:before,
.box-row:before,
.widget:before,
.footer:before,
.footer--bottom:before,
.page-header:after,
.logo:after,
.lang:after,
.nav-main ul:after,
.nav-mobile ul:after,
.block-list:after,
.page-content:after,
.wrap:after,
.page--wrap:after,
.box-row:after,
.widget:after,
.footer:after,
.footer--bottom:after {
    content: "";
    display: table
}

.page-header:after,
.logo:after,
.lang:after,
.nav-main ul:after,
.nav-mobile ul:after,
.block-list:after,
.page-content:after,
.wrap:after,
.page--wrap:after,
.box-row:after,
.widget:after,
.footer:after,
.footer--bottom:after {
    clear: both
}

.text,
.page--box,
.page--img,
.massive-h,
.sidebar,
.box {
    position: relative;
    z-index: 20
}

img.alignright {
    margin: 0 0 28px 28px
}

img.alignleft {
    margin: 0 28px 28px 0
}

img.aligncenter,
img.alignnone {
    margin-bottom: 28px
}

img,
embed,
object {
    max-width: 100%
}

.img-low-sprite,
.arrow:after,
.arrow-left:after,
.slide-prev:after,
.button:after,
.nav-mobile a:after,
.slide-next:after,
.icon-twitter,
.icon-facebook,
.icon-rss,
.button.light:after,
.logo h1,
.de .logo h1,
.en .logo h1,
.es .logo h1,
.ja .logo h1,
.ru .logo h1,
.sv .logo h1,
.logo-img {
    background: url('/wp/wp-content/themes/muumilaakso/assets/img/img-low-s5bc80cb805.png') no-repeat
}

nav ul,
.lang li,
.slideshow ul,
.slideshow li,
.box--list {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0
}

.hr-big {
    margin: 56px 0;
    margin: 3.11111rem 0;
    clear: both
}

.hr-small {
    border-width: 1px
}

.arrow:after,
.arrow-left:after,
.slide-prev:after,
.button:after,
.nav-mobile a:after,
.slide-next:after {
    background-position: 0 -726px;
    height: 18px;
    width: 10px;
    display: inline-block;
    content: "";
    margin: 0 0 0 5px
}

.arrow-left:after,
.slide-prev:after {
    background-position: 0 -744px;
    height: 18px;
    width: 10px
}

.icons {
    margin: 0 -3px 0 0
}

.icons a {
    margin-top: 8px
}

.icon-twitter,
.icon-facebook,
.icon-rss {
    display: inline-block !important;
    text-indent: -9999px;
    margin: 0 2px;
    position: relative;
    border: none !important
}

.icon-twitter {
    background-position: 0 -561px;
    height: 24px;
    width: 24px
}

.icon-twitter:hover,
.icon-twitter.icon-twitter_hover,
.button:hover .icon-twitter,
.icon-twitter.icon-twitter-hover {
    background-position: 0 -585px
}

.icon-facebook {
    background-position: 0 -609px;
    height: 24px;
    width: 24px
}

.icon-facebook:hover,
.icon-facebook.icon-facebook_hover,
.button:hover .icon-facebook,
.icon-facebook.icon-facebook-hover {
    background-position: 0 -633px
}

.icon-rss {
    background-position: 0 -513px;
    height: 24px;
    width: 24px
}

.icon-rss:hover,
.icon-rss.icon-rss_hover,
.icon-rss.icon-rss-hover {
    background-position: 0 -537px
}

.button {
    font-family: "garageggothicregular", "Arial Narrow", Helvetica, Arial, sans-serif;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 0.03em;
    font-weight: 300;
    display: inline-block;
    padding: 9px 14px;
    padding-top: 11px;
    margin: 0 10px 28px 0;
    background-color: #5b9fca;
    color: #fff !important;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.15);
    border: none !important
}

.button.dark {
    background-color: #182d40;
    color: #e26d5d;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.15)
}

.button.brand-2 {
    background-color: #e26d5d;
    color: #fff;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.15)
}

.button.light {
    background-color: #fff;
    color: #5e5e5e !important;
    text-shadow: none
}

.button.light:after {
    background-position: 0 -708px;
    height: 18px;
    width: 10px
}

.button {
    text-transform: uppercase;
    position: relative;
    border-radius: 2px
}

.button i {
    margin-top: -3px;
    margin-right: 5px;
    left: -2px;
    top: 3px
}

.button:hover {
    top: -3px
}

.pattern,
.pattern-2,
.pattern-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0
}

.pattern,
.pattern-2,
.pattern-3 {
    background-image: url(../img/pattern.png)
}

.footer {
    background-image: url(../img/pattern2.png)
}

.footer--bottom,
.pattern-3 {
    background-image: url(../img/pattern3.png)
}

.shadow {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    background: linear-gradient(top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 0;
    display: none
}

.triangle {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 17.15em solid rgba(91, 159, 202, 0.2);
    border-bottom: 17.15em solid transparent;
    border-left: 17.15em solid rgba(91, 159, 202, 0.2);
    border-right: 17.15em solid transparent
}

.triangle.right {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 17.15em solid rgba(91, 159, 202, 0.2);
    border-top: 17.15em solid transparent;
    border-right: 17.15em solid rgba(91, 159, 202, 0.2);
    border-left: 17.15em solid transparent
}

.page-header {
    background: #fff;
    position: relative;
    z-index: 10;
    width: 100%;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1)
}

.logo {
    height: 120px;
    position: relative;
    z-index: 10;
    margin-top: 46px
}

.logo a {
    display: block
}

.logo h1 {
    background-position: 0 -657px;
    height: 51px;
    width: 148px;
    text-indent: -9999px;
    position: absolute;
    left: 6%;
    top: 35px;
    margin: 0
}

.de .logo h1,
.en .logo h1,
.es .logo h1,
.ja .logo h1,
.ru .logo h1,
.sv .logo h1 {
    background-position: 0 -402px;
    height: 51px;
    width: 148px
}

.logo-img {
    background-position: 0 -196px;
    height: 146px;
    width: 132px;
    position: absolute;
    right: 3%;
    top: -12px
}

.lang {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 46px;
    background: #5b9fca;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 94%;
    padding-left: 6%;
    color: #95c1dd;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.15)
}

.lang ul {
    margin: 0 -6px 0 -6px
}

.lang li {
    float: left
}

.lang li:after {
    content: '/'
}

.lang li:last-child:after {
    content: ''
}

.lang li a {
    font-weight: 600;
    color: #fff !important;
    margin: 0 5px;
    padding-bottom: 2px;
    border-bottom: 1px solid #5b9fca
}

.lang li a:hover {
    border-color: #fff
}

.lang li a.lang-active {
    border-color: #fff
}

.nav-button {
    -webkit-box-shadow: inset 1px 0 0 #95c1dd;
    -moz-box-shadow: inset 1px 0 0 #95c1dd;
    box-shadow: inset 1px 0 0 #95c1dd;
    background: #67a6ce;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 60;
    height: 46px;
    width: 50px;
    border-left: 1px solid #3b87b7;
    font-size: 24px
}

.nav-button:hover {
    background: #76afd3
}

.nav-button:focus,
.nav-button:active {
    background: #408fc1;
    -webkit-box-shadow: inset 1px 0 0 #95c1dd, inset 0 2px 8px #3579a4;
    -moz-box-shadow: inset 1px 0 0 #95c1dd, inset 0 2px 8px #3579a4;
    box-shadow: inset 1px 0 0 #95c1dd, inset 0 2px 8px #3579a4
}

.nav-button:before {
    content: "";
    position: absolute;
    top: 16px;
    left: 12px;
    width: 26px;
    height: 0.125em;
    border-top: 0.375em double #fff;
    border-bottom: 0.125em solid #fff
}

.nav-main,
.nav-mobile {
    font-size: 26px;
    font-family: "garageggothicregular", "Arial Narrow", Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

.ja .nav-main,
.ru .nav-main,
.ja .nav-mobile,
.ru .nav-mobile {
    font-size: 13px
}

.nav-main ul,
.nav-mobile ul {
    counter-reset: section
}

.nav-main a,
.nav-mobile a {
    color: #5e5e5e;
    counter-increment: section
}

.nav-main a:before,
.nav-mobile a:before {
    content: " 0" counters(section, ".") " ";
    color: #fff
}

.nav-main li li a:before,
.nav-mobile li li a:before {
    content: "" counters(section, ".") " "
}

.ja .nav-main a:before,
.ja .nav-main li li a:before,
.ru .nav-main a:before,
.ru .nav-main li li a:before,
.ja .nav-mobile a:before,
.ja .nav-mobile li li a:before,
.ru .nav-mobile a:before,
.ru .nav-mobile li li a:before {
    content: ''
}

.nav-mobile {
    letter-spacing: 0.03em
}

.nav-mobile li.current-menu-item>a {
    background: #e4796a
}

.nav-mobile li.current-menu-parent.current-menu-item>a {
    background: #e26d5d
}

.nav-mobile li.current-menu-parent .current-menu-item>a {
    background: #e4796a
}

.nav-mobile a {
    background: #e26d5d;
    color: #fff;
    display: block;
    padding: 8px 6% 5px 6%;
    border-bottom: 1px solid #da4632;
    border-top: 1px solid #ea9488;
    position: relative;
    text-shadow: 0px -1px #da4632
}

.nav-mobile a:after {
    right: 6%;
    top: 18px;
    position: absolute
}

.nav-mobile a:hover {
    background: #e47566;
    color: #fff
}

.nav-mobile ul:first-child {
    border-bottom: 1px solid #ea9488
}

.nav-mobile ul:first-child>li:first-child>a {
    border-top: none
}

.nav-mobile li li a {
    padding-left: 12%;
    padding-right: 12%
}

.ja .nav-mobile a,
.ru .nav-mobile a {
    padding-top: 15px;
    padding-bottom: 13px
}

.ja .nav-mobile a:after,
.ru .nav-mobile a:after {
    right: 6%;
    top: 15px;
    position: absolute
}

.slideshow {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 350px;
    overflow: hidden
}

.slideshow li>* {
    position: absolute
}

.slideshow h2 {
    margin: 0
}

.slideshow.gallery .slide {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s
}

.slideshow.gallery .slide.animate-in {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s
}

.slideshow.gallery.scale {
    background: #222
}

.slide,
.gallery-title {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -ms-transition-duration: .5s
}

.slide {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    opacity: 0;
    width: 100%;
    height: 100%
}

.slide.animate-in {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s
}

.slide.animate-in .block-them span,
.slide.animate-in .button {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.slide.animate-in .gallery-title {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.slide.animate-in .block-them span {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s
}

.slide.animate-in .block-them span:nth-child(2) {
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s
}

.slide.animate-in .block-them span:nth-child(3) {
    -webkit-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s
}

.slide.animate-in .button {
    -webkit-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s
}

.slide.animate-out {
    opacity: 0
}

.slide.animate-out .block-them span,
.slide.animate-out .button {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px)
}

.slide.animate-out .gallery-title {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform: translateY(200px)
}

.gallery-title {
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
    transform: translateY(200px);
    z-index: 10;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 16px;
    width: 95%;
    text-align: right;
    padding: 11px 20px
}

.slide-title {
    z-index: 10;
    width: 260px;
    overflow: hidden;
    right: 0;
    bottom: 15px;
    position: absolute;
    text-align: right
}

.slide-title .block-them span,
.slide-title .button {
    -webkit-transform: translateX(600px);
    -moz-transform: translateX(600px);
    -ms-transform: translateX(600px);
    -o-transform: translateX(600px);
    transform: translateX(600px);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -ms-transition-duration: .3s
}

.slide-title .block-them span {
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    line-height: normal;
    text-align: right;
    padding: 0.2em 0.3em 0.1em 0.3em;
    margin-bottom: 2px;
    margin-left: 1px;
    display: inline-block;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s
}

.slide-title .block-them span:nth-child(2) {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s
}

.slide-title .block-them span:nth-child(3) {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s
}

.slide-title .button {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    float: right;
    margin: 0;
    padding: 8px 0.5em 6px 0.5em;
    background: #e26d5d;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.slide-title .button:hover {
    top: 0
}

.slide-title:hover .button {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    background-color: #5b9fca
}

.slide-controls {
    position: absolute;
    top: 20px;
    right: 0;
    left: 6%;
    z-index: 20;
    width: 94%;
    display: none
}

.slide-dots {
    text-align: right;
    position: absolute;
    height: 30px;
    width: 100%;
    right: 20px
}

.slide-dots span {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 1px;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.4), inset 0 1px 1px rgba(0, 0, 0, 0.5)
}

.slide-dots span.slide-dot-current:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background: #e26d5d
}

.slide-next,
.slide-prev {
    position: absolute;
    left: 42px;
    top: 0;
    width: 40px;
    height: 39px;
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    cursor: pointer
}

.slideshow.gallery .slide-next,
.slideshow.gallery .slide-prev {
    display: block !important
}

.slide-next:hover,
.slide-prev:hover {
    background: #e26d5d
}

.slide-next:after,
.slide-prev:after {
    margin: 10px 0 0 15px
}

.slide-prev {
    left: 0
}

.block-list {
    font-size: 16px;
    position: relative;
    z-index: 8;
    overflow: hidden;
    min-height: 150px;
    background: #fff
}

.block-list .button {
    text-align: left;
    padding-left: 6%;
    border-radius: 0;
    margin: 0
}

.block-list .button:hover {
    top: 0
}

.block-list ul {
    margin-bottom: 0;
    margin-left: 0;
    list-style: none
}

.block-list li {
    border-top: 1px solid #ccc
}

.block-list li a {
    display: block;
    padding: 14px 6%;
    color: #5e5e5e
}

.block-list li a:hover {
    color: #5b9fca
}

.block-list span {
    color: #bbb;
    margin-left: 5px;
    text-transform: uppercase;
    font-style: normal
}

.page-content {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    background-color: #fff;
    color: #5e5e5e;
    position: relative;
    opacity: 0
}

.page-content .sidebar .widget--title {
    border-color: #bbb
}

.page-content .sidebar .widget--title a {
    border-bottom: none
}

.page-brand-1,
.page-brand-2 {
    background-color: #182d40;
    color: #fff
}

.page-brand-1 hr,
.page-brand-2 hr {
    border-color: #fff
}

.page-brand-2 .massive-h {
    text-shadow: 0.01em 0.01em 0 #182d40, 0.015em 0.015em 0 rgba(226, 109, 93, 0.4);
    color: #e26d5d
}

.page-brand-2 .text-template--img {
    -webkit-box-shadow: 0 0 0 0.6em #fff, 0 0 0 1.2em #e26d5d, 0 0 0 1.8em rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 0 0.6em #fff, 0 0 0 1.2em #e26d5d, 0 0 0 1.8em rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0.6em #fff, 0 0 0 1.2em #e26d5d, 0 0 0 1.8em rgba(0, 0, 0, 0.4)
}

.page-brand-2 .text-template-1 p,
.page-brand-2 .text-template-2 p {
    border-color: #e26d5d
}

.page-brand-2 .sidebar .widget--title,
.page-brand-2 .sidebar .widget--title a {
    color: #e26d5d
}

.page-brand-2 .box,
.page-brand-2 .main-title:after,
.page-brand-2 .text a {
    border-color: #e26d5d
}

.page-brand-2 .text a,
.page-brand-2 .massive-q:before {
    color: #e26d5d
}

.page-brand-2 h2 {
    color: #e26d5d
}

.wrap,
.page--wrap {
    padding: 0 6%;
    max-width: 1100px;
    margin: 0 auto
}

.page--wrap {
    padding-top: 28px;
    padding-top: 1.55556rem;
    padding-bottom: 28px;
    padding-bottom: 1.55556rem
}

.column-3 img {
    width: 48.9%
}

.main-title,
.main-title-2 {
    color: #5b9fca
}

.main-title a,
.main-title-2 a {
    color: #5b9fca
}

.main-title,
.main-title-2 {
    position: relative;
    display: inline-block !important;
    margin-bottom: 38px;
    margin-bottom: 2.11111rem
}

.main-title:after,
.main-title-2:after {
    display: block;
    content: '';
    border-top: 2px solid #5b9fca;
    width: 2500px;
    position: absolute;
    right: 0;
    margin-top: 15px
}

.text img:not(.text-template--img) {
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
}

.text a {
    color: #5b9fca;
    border-bottom: 2px solid #5b9fca
}

.text a:hover {
    border-color: #5b9fca;
    color: #5b9fca
}

.text img {
    max-width: 100% !important;
    height: auto !important;
    margin-bottom: 28px
}

.text img.no-shadow {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.text h1 a,
.text h2 a,
.text h3 a,
.text h4 a,
.text h5 a,
.text h6 a {
    border: none
}

.text .text--content h1,
.text .text--content h2,
.text .text--content h3,
.text .text--content h4,
.text .text--content h5,
.text .text--content h6 {
    font-family: "apercuregular", Helvetica, Arial, sans-serif;
    text-transform: none;
    clear: both
}

.text .text--content h1 {
    font-size: 34px;
    font-size: 1.88889rem;
    line-height: 1.45
}

.text .text--content h2 {
    font-size: 32px;
    font-size: 1.77778rem;
    line-height: 1.45
}

.text .text--content h3 {
    font-size: 28px;
    font-size: 1.55556rem;
    line-height: 1.45
}

.text .text--content h4 {
    font-size: 24px;
    font-size: 1.33333rem;
    line-height: 1.45
}

.text .text--content h5,
.text .text--content h6 {
    font-size: 20px;
    font-size: 1.11111rem;
    line-height: 1.4;
    margin-bottom: 0
}

.text .text--content h6 {
    text-transform: uppercase
}

.text p .button {
    margin: 0
}

.page--img {
    z-index: 30
}

.massive-h {
    font-family: "garageggothicregular", "Arial Narrow", Helvetica, Arial, sans-serif;
    line-height: normal;
    text-shadow: 0.01em 0.01em 0 #182d40, 0.015em 0.015em 0 rgba(91, 159, 202, 0.4);
    margin-bottom: .25em;
    color: #5b9fca;
    text-transform: uppercase
}

.massive-h span {
    color: #fff
}

.massive-h:after {
    display: block;
    content: '';
    border-top: 6px solid #fff;
    margin-top: 6px;
    width: 1em
}

.ja .massive-h:after,
.ru .massive-h:after {
    margin-top: 10px
}

.ja .massive-h,
.ru .massive-h {
    margin-bottom: .4em;
    -webkit-transform: skewY(0);
    -moz-transform: skewY(0);
    -ms-transform: skewY(0);
    -o-transform: skewY(0);
    transform: skewY(0)
}

.ja .massive-h {
    letter-spacing: -0.1em
}

.text-template--img {
    width: 31.3%;
    height: auto;
    padding: 0;
    background: #182d40;
    margin: -20% 0 28px 28px;
    float: right;
    border-radius: 50%;
    border: 0.8em solid #182d40;
    -webkit-box-shadow: 0 0 0 0.6em #fff, 0 0 0 1.2em #5b9fca, 0 0 0 1.8em rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 0 0.6em #fff, 0 0 0 1.2em #5b9fca, 0 0 0 1.8em rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 0.6em #fff, 0 0 0 1.2em #5b9fca, 0 0 0 1.8em rgba(0, 0, 0, 0.4)
}

.csstransforms .ja .text-template--img,
.csstransforms .ru .text-template--img {
    margin-top: -10%
}

.no-borderradius .text-template--img {
    background: transparent
}

.text-template-1,
.text-template-2 {
    margin-bottom: 28px;
    margin-bottom: 1.55556rem;
    position: relative;
    z-index: 10
}

.text-template-1 p,
.text-template-2 p {
    line-height: 1.78;
    display: inline;
    background: #000;
    background: rgba(0, 0, 0, 0.3);
    padding: .22em 0;
    border-bottom: 3px solid #5b9fca
}

.ja .text-template-1 p,
.ru .text-template-1 p,
.ja .text-template-2 p,
.ru .text-template-2 p {
    font-size: 20px
}

.text-template-1 a,
.text-template-2 a {
    border: none !important
}

.text-template-2 {
    margin-bottom: 28px;
    margin-bottom: 1.55556rem
}

#boxes {
    font-size: 16px
}

.box {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    color: #5e5e5e;
    padding: 28px;
    border-top: 6px solid #5b9fca;
    border-radius: 0 0 2px 2px;
    margin-bottom: 28px;
    margin-bottom: 1.55556rem
}

.box .button:last-of-type {
    margin: 0
}

.box--title a {
    border-bottom: 1px solid #5b9fca
}

.box--title a:hover {
    color: #5e5e5e;
    border-color: #5e5e5e
}

.box--img img {
    border-radius: 3px;
    -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.055), 0 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.055), 0 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.055), 0 1px 1px rgba(0, 0, 0, 0.25)
}

.box--list span {
    color: #bbb
}

.box--list li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0
}

.box--list li:first-child {
    padding-top: 0
}

.box--list li:last-child {
    padding-bottom: 0
}

.box--list li.icons {
    border: none
}

.box--list li.icons a:first-of-type {
    margin-left: 4px
}

.box--list li.icons span {
    position: relative;
    bottom: 2px
}

.box--meta {
    font-size: 14px;
    float: right;
    position: absolute;
    bottom: 28px;
    right: 28px
}

.inner-box.dark {
    background: #000;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-bottom: 1px solid rgba(91, 159, 202, 0.1)
}

.inner-box p:last-child {
    margin-bottom: 0
}

.inner-box br {
    display: none
}

.widget {
    font-size: 16px;
    font-size: 0.88889rem;
    line-height: 1.75
}

.widget--title {
    border-top: 2px solid #fff;
    padding-top: 28px;
    padding-top: 1.55556rem;
    margin-bottom: 14px;
    text-transform: uppercase
}

.footer {
    background-attachment: fixed;
    color: #fff;
    text-shadow: 0px -1px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10
}

.footer .icons {
    margin-bottom: 14px
}

.footer .widget--title,
.footer .widget--title a {
    color: #fff
}

.footer a {
    color: #fff
}

.footer a:hover {
    border-bottom: 1px solid #fff
}

.footer .button {
    margin-bottom: 10px
}

.footer--top {
    padding-top: 56px;
    padding-top: 3.11111rem;
    padding-bottom: 56px;
    padding-bottom: 3.11111rem
}

.footer--bottom {
    font-size: 14px;
    font-size: 0.77778rem;
    line-height: 2;
    background-color: #182d40;
    background-attachment: fixed;
    padding: 28px 6%;
    padding: 1.55556rem 6%;
    text-align: center
}

.footer--bottom p {
    margin: 0;
    display: block
}

.footer--bottom span {
    color: #fff;
    color: rgba(255, 255, 255, 0.5)
}

#muumi_map {
    width: 100%;
    height: 600px;
    margin-top: 45px;
    position: absolute;
    top: 0;
    left: 0
}

#fb-like {
    position: absolute !important;
    z-index: 8;
    top: 65px;
    left: 0;
    padding: 0 0 0 20px;
    opacity: 0;
    display: none
}

@media all and (max-width: 767px) {
    .text .screen-large-image-special {
        margin-bottom: 0
    }
    h2 {
        font-size: 46px;
        font-size: 2.65556rem;
        line-height: 1.11739
    }
    .triangle,
    .triangle.right {
        border-width: 8em
    }
    .hr-big {
        margin: 28px 0;
        margin: 1.55556rem 0
    }
    .block-list .button {
        width: 94%
    }
    .csstransforms .block-list .button {
        text-align: right;
        padding-right: 20px;
        -webkit-transform: rotate(-90deg) translateX(-100%);
        -moz-transform: rotate(-90deg) translateX(-100%);
        -ms-transform: rotate(-90deg) translateX(-100%);
        -o-transform: rotate(-90deg) translateX(-100%);
        transform: rotate(-90deg) translateX(-100%);
        -webkit-transform-origin: top left;
        -moz-transform-origin: top left;
        -ms-transform-origin: top left;
        -o-transform-origin: top left;
        transform-origin: top left
    }
    .csstransforms .block-list ul {
        margin-top: -46px;
        margin-left: 46px
    }
    .csstransforms .block-list li a {
        padding-left: 28px
    }
    .slideshow h2 {
        font-size: 32px
    }
    .text-template--img {
        border-width: .3em;
        -webkit-box-shadow: 0 0 0 0.3em #fff, 0 0 0 0.6em #5b9fca, 0 0 0 0.9em rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 0 0.3em #fff, 0 0 0 0.6em #5b9fca, 0 0 0 0.9em rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 0 0.3em #fff, 0 0 0 0.6em #5b9fca, 0 0 0 0.9em rgba(0, 0, 0, 0.4)
    }
    .page-brand-2 .text-template--img {
        -webkit-box-shadow: 0 0 0 0.3em #fff, 0 0 0 0.6em #e26d5d, 0 0 0 0.9em rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 0 0.3em #fff, 0 0 0 0.6em #e26d5d, 0 0 0 0.9em rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 0 0.3em #fff, 0 0 0 0.6em #e26d5d, 0 0 0 0.9em rgba(0, 0, 0, 0.4)
    }
}

@media all and (max-width: 480px) {
    .text img:not(.text-template--img) {
        float: none !important
    }
    .text img:not(.text-template--img).alignright,
    .text img:not(.text-template--img).alignleft {
        margin-left: auto;
        margin-right: auto;
        display: block
    }
}

@media all and (min-width: 768px) {
    .page-header {
        position: fixed;
        width: 100%;
        height: 130px;
        bottom: 0;
        z-index: 500;
        -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1)
    }
    .logo {
        height: auto;
        margin: 0
    }
    .logo h1 {
        background-position: 0 -453px;
        height: 60px;
        width: 173px;
        top: 35px;
        left: 204px
    }
    .de .logo h1,
    .en .logo h1,
    .es .logo h1,
    .ja .logo h1,
    .ru .logo h1,
    .sv .logo h1 {
        background-position: 0 -342px;
        height: 60px;
        width: 173px
    }
    .ja .logo h1,
    .ru .logo h1 {
        left: 25px
    }
    .logo-img {
        background-position: 0 0;
        height: 194px;
        width: 174px;
        top: -70px;
        right: auto;
        left: 15px
    }
    .lang {
        width: auto;
        left: auto;
        top: auto;
        right: 0;
        bottom: 0;
        padding: 1px 20px 0 20px;
        line-height: 45px;
        border-radius: 2px 0 0 0;
        background: #e26d5d;
        color: #eea79e
    }
    .lang li a {
        border-color: #e26d5d
    }
    .nav-main {
        position: relative;
        margin-right: 10px;
        float: right;
        overflow: hidden;
        height: 130px;
        min-width: 400px
    }
    .nav-main:hover {
        overflow: visible
    }
    .nav-main ul {
        position: relative;
        float: right
    }
    .nav-main li {
        float: left;
        border-left: 1px solid #ccc;
        padding: 22px 11px 0 11px;
        cursor: pointer
    }
    .nav-main li.current-menu-ancestor a,
    .nav-main li.current-menu-parent a,
    .nav-main li.current-menu-item a {
        border-color: #e26d5d
    }
    .nav-main li a {
        display: block;
        border-bottom: 2px solid #fff
    }
    .nav-main li a:hover,
    .nav-main li a:before {
        border-color: #e26d5d;
        color: #e26d5d
    }
    .nav-main li li {
        float: none;
        border: none;
        margin: 0 0 1px -12px;
        line-height: 1.1;
        background: #fff;
        padding: 12px 14px 10px 14px
    }
    .nav-main li li:first-child {
        border-radius: 3px 3px 0 0
    }
    .nav-main li li a {
        border: none
    }
    .nav-main li ul {
        position: absolute;
        bottom: 80%;
        opacity: 0
    }
    .nav-main li.icons {
        border: none;
        position: absolute;
        width: 100px;
        bottom: -61px;
        right: 250px;
        padding: 18px 11px 0 11px
    }
    .nav-main li.icons a {
        border: none;
        top: 4px
    }
    .nav-main li:hover ul {
        opacity: 1;
        bottom: 100%
    }
    .ja .nav-main li,
    .ru .nav-main li {
        padding-top: 38px
    }
    .ja .nav-main li.icons,
    .ru .nav-main li.icons {
        padding-top: 28px;
        bottom: -55px
    }
    .slideshow {
        height: 87%;
        z-index: 0;
        top: 45px
    }
    .slide-title {
        width: 530px;
        bottom: 30px
    }
    .gallery-title {
        width: auto
    }
    .slide-controls {
        right: 0;
        left: auto;
        width: 100%
    }
    .slide-next,
    .slide-prev {
        left: auto;
        right: 20px;
        top: 30px
    }
    .slide-prev {
        right: 62px
    }
    .block-list {
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        font-size: 14px;
        min-height: 0;
        margin-top: 0 !important;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0
    }
    .block-list .button {
        float: left;
        padding-left: 14px
    }
    .block-list .scroll {
        position: relative;
        height: 46px;
        float: left
    }
    .block-list ul {
        margin: 0;
        position: absolute;
        top: 0;
        width: 1300px;
        left: 0
    }
    .block-list ul a {
        padding-top: 13px;
        padding-bottom: 12px;
        padding-left: 14px;
        padding-right: 14px
    }
    .block-list li {
        float: left;
        border-top: 0;
        border-right: 1px solid #ccc
    }
    .block-fade {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        height: 52px;
        width: 200px;
        background: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
        background: -webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
        background: -moz-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
        background: -o-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
        background: linear-gradient(right, #ffffff, rgba(255, 255, 255, 0));
        z-index: 50
    }
    .span-1,
    .span-2,
    .span-3,
    .span-4,
    .span-5,
    .span-6,
    .span-7,
    .span-8,
    .span-9,
    .span-10,
    .span-11,
    .span-12 {
        display: inline;
        float: left;
        margin-left: 1.19048%;
        margin-right: 1.19048%
    }
    .row {
        display: block;
        width: 102.38095%;
        margin: 0 -1.19048%;
        *zoom: 1
    }
    .row:before,
    .row:after {
        content: "";
        display: table
    }
    .row:after {
        clear: both
    }
    .span-1 {
        width: 5.95238%;
        *width: 5.95233%
    }
    .span-2 {
        width: 14.28571%;
        *width: 14.28566%
    }
    .span-3 {
        width: 22.61905%;
        *width: 22.619%
    }
    .span-4 {
        width: 30.95238%;
        *width: 30.95233%
    }
    .span-5 {
        width: 39.28571%;
        *width: 39.28566%
    }
    .span-6 {
        width: 47.61905%;
        *width: 47.619%
    }
    .span-7 {
        width: 55.95238%;
        *width: 55.95233%
    }
    .span-8 {
        width: 64.28571%;
        *width: 64.28566%
    }
    .span-9 {
        width: 72.61905%;
        *width: 72.619%
    }
    .span-10 {
        width: 80.95238%;
        *width: 80.95233%
    }
    .span-11 {
        width: 89.28571%;
        *width: 89.28566%
    }
    .span-12 {
        width: 97.61905%;
        *width: 97.619%
    }
    .push-4 {
        margin-left: 34.52381%
    }
    .inner-row {
        margin-bottom: -28px
    }
    .inner-row:last-child {
        margin-bottom: 0
    }
    .page--wrap {
        padding-top: 112px;
        padding-top: 6.22222rem;
        padding-bottom: 56px;
        padding-bottom: 3.11111rem;
        min-height: 600px
    }
    .page-brand-1,
    .page-brand-2 {
        background-image: url(../img/bg.jpg)
    }
    .page-bg-1 {
        background-image: url(../img/bg-1.jpg)
    }
    .page--box {
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #fff;
        background: rgba(255, 255, 255, 0.9);
        padding: 56px;
        border-radius: 0 0 2px 2px;
        border-top: 6px solid #5b9fca
    }
    .page--img {
        padding: 3%;
        max-width: 94%;
        background: #fff;
        border-radius: 2px;
        border: 1px solid #e0e0e0;
        -webkit-box-shadow: -8px 8px 0 rgba(255, 255, 255, 0.5), -16px 16px 0 rgba(24, 45, 64, 0.2);
        -moz-box-shadow: -8px 8px 0 rgba(255, 255, 255, 0.5), -16px 16px 0 rgba(24, 45, 64, 0.2);
        box-shadow: -8px 8px 0 rgba(255, 255, 255, 0.5), -16px 16px 0 rgba(24, 45, 64, 0.2)
    }
    .massive-q {
        font-size: 26px;
        text-align: center;
        padding: 0 112px;
        margin-top: 28px
    }
    .massive-h {
        margin-top: -0.12em;
        margin-bottom: .1em
    }
    .csstransforms .ja .massive-h {
        width: 60%
    }
    .massive-h:after {
        border-width: 9px;
        margin-top: -0.1em
    }
    .text-template-1 p,
    .text-template-2 p {
        font-size: 20px;
        font-size: 1.11111rem;
        line-height: 1.4;
        line-height: 1.85
    }
    .text-template-1 {
        margin-bottom: 56px;
        margin-bottom: 3.11111rem
    }
    .ja .text-template-1 p,
    .ru .text-template-1 p {
        font-size: 28px
    }
    .text-template-2 {
        text-align: right;
        float: left;
        margin-right: 28px;
        margin-right: 1.55556rem
    }
    .ja .text-template-2 p {
        font-size: 28px
    }
    .main-title,
    .main-title-2 {
        display: block !important;
        text-align: right;
        margin-bottom: 56px;
        margin-bottom: 3.11111rem
    }
    .main-title-2 {
        text-align: left
    }
    .footer {
        padding-bottom: 130px;
        color: #fff;
        text-shadow: none;
        background-color: #e26d5d
    }
    .footer--bottom {
        padding: 28px 20px;
        padding: 1.55556rem 20px;
        text-align: right;
        background-color: #fff;
        background-color: #e68073;
        color: #fff
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .logo h1 {
        left: 25px
    }
    .screen-medium-only-no-float:first-child div.span-4,
    .screen-medium-only-no-float div.span-8 {
        clear: both;
        width: auto;
        margin: 0
    }
    .screen-medium-only-span-6 {
        width: 47.61905%
    }
    .screen-medium-only-no-float-text .text .span-6,
    .screen-medium-only-no-float-text .text .span-8 {
        clear: both;
        width: auto;
        margin: 0
    }
}

@media all and (min-width: 1024px) {
    .screen-large-image-special {
        margin-top: -90px
    }
    .column-2,
    .column-3 {
        clear: both;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -ms-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        -ms-column-width: 50%;
        -o-column-width: 50%;
        column-width: 50%;
        -webkit-column-gap: 56px;
        -moz-column-gap: 56px;
        -ms-column-gap: 56px;
        -o-column-gap: 56px;
        column-gap: 56px
    }
    .column-2 p,
    .column-3 p {
        -webkit-column-break-inside: avoid;
        column-break-inside: avoid
    }
    .column-2 img,
    .column-3 img {
        width: 100%
    }
    .column-3 {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        -ms-column-count: 3;
        -o-column-count: 3;
        column-count: 3
    }
    .main-title,
    .main-title-2 {
        display: block !important;
        text-align: right
    }
    .main-title-2 {
        text-align: left
    }
    .text-template-1 p,
    .text-template-2 p {
        font-size: 24px;
        font-size: 1.33333rem;
        line-height: 1.16667;
        line-height: 1.80
    }
    .box--img {
        max-height: 165px
    }
}

@media all and (min-width: 1200px) {
    .nav-main li.icons {
        width: auto;
        position: relative;
        right: 0;
        bottom: 0;
        border-left: 1px solid #ccc
    }
    .ja .nav-main li.icons,
    .ru .nav-main li.icons {
        bottom: 0
    }
    .ja .nav-main li.icons a,
    .ru .nav-main li.icons a {
        top: 0
    }
    .text-template-1 p {
        font-size: 26px;
        font-size: 1.44444rem;
        line-height: 1.07692;
        line-height: 1.80
    }
}

@media all and (-webkit-min-device-pixel-ratio: 1.5),
all and (-moz-min-device-pixel-ratio: 1.5),
all and (min-device-pixel-ratio: 1.5),
all and (-o-min-device-pixel-ratio: 3 / 2) {
    .logo h1,
    .logo-img,
    .icon-twitter,
    .icon-facebook,
    .icon-rss,
    .nav-mobile a:after,
    .slide-next:after,
    .button:after,
    .slide-prev:after {
        background-image: url('/wp/wp-content/themes/muumilaakso/assets/img/img-high-sd1c013b518.png');
        -webkit-background-size: 176px auto;
        -moz-background-size: 176px auto;
        -o-background-size: 176px auto;
        background-size: 176px auto
    }
    .logo h1 {
        background-position: 0 -513px
    }
    .de .logo h1,
    .en .logo h1,
    .es .logo h1,
    .ja .logo h1,
    .ru .logo h1,
    .sv .logo h1 {
        background-position: 0 -402px
    }
    .logo-img {
        background-position: 0 -196px
    }
    .icon-twitter {
        background-position: 0 -612px
    }
    .icon-twitter:hover {
        background-position: 0 -636px
    }
    .icon-facebook {
        background-position: 0 -684px
    }
    .icon-facebook:hover {
        background-position: 0 -660px
    }
    .icon-rss {
        background-position: 0 -564px
    }
    .icon-rss:hover {
        background-position: 0 -588px
    }
    .nav-mobile a:after,
    .slide-next:after,
    .button:after {
        background-position: 0 -726px
    }
    .slide-prev:after {
        background-position: 0 -744px
    }
    .button .light {
        background-position: 0 -708px
    }
}

@media all and (min-width: 768px) and (min--moz-device-pixel-ratio: 1.5),
all and (min-width: 768px) and (-o-min-device-pixel-ratio: 3 / 2),
all and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5),
all and (min-width: 768px) and (min-device-pixel-ratio: 1.5) {
    .logo h1,
    .de .logo h1,
    .en .logo h1,
    .es .logo h1,
    .ja .logo h1,
    .ru .logo h1,
    .sv .logo h1,
    .logo-img {
        background-image: url('/wp/wp-content/themes/muumilaakso/assets/img/img-high-sd1c013b518.png');
        -webkit-background-size: 176px auto;
        -moz-background-size: 176px auto;
        -o-background-size: 176px auto;
        background-size: 176px auto
    }
    .logo h1 {
        background-position: 0 -453px
    }
    .de .logo h1,
    .en .logo h1,
    .es .logo h1,
    .ja .logo h1,
    .ru .logo h1,
    .sv .logo h1 {
        background-position: 0 -342px
    }
    .logo-img {
        background-position: 0 0
    }
}

.js .jsframe {
    display: none
}

.notifyframe {
    display: block;
    background: #fff9d7;
    text-align: center;
    color: #343434 !important;
    font: 12px sans-serif !important;
    padding: 15px 20px;
    border-bottom: 1px solid #e2c822;
    position: relative;
    top: 46px;
    z-index: 200
}

.notifyframe a {
    color: #6579b9 !important;
    background: none !important;
    border: none !important;
    text-decoration: none !important
}

.notifyframe a:hover {
    text-decoration: underline !important;
    background: none !important;
    border: none !important
}