html, body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

/* underscore tells sass that these are partial files. not meant to be compiled */
.navbar-inverse {
  background-color: #000; }

.navbar {
  background-color: #000;
  height: 60px;
  vertical-align: middle; }
  @media all and (max-width: 480px) {
    .navbar {
      height: 60px;
      text-align: center; } }
  @media all and (max-width: 767px) {
    .navbar #inside_nav {
      background-color: #000; } }
  @media all and (max-width: 767px) {
    .navbar ul {
      width: 60%; } }
  @media all and (max-width: 480px) {
    .navbar li {
      display: block; } }
  .navbar .navbar-right {
    margin: 0px;
    padding: 0px; }
    @media all and (min-width: 768px) and (max-width: 1075px) {
      .navbar .navbar-right {
        margin-top: -45px; } }
  .navbar .fake_button {
    background-color: #bbdefb;
    border-left: solid 1px #448aff;
    border-right: solid 1px #448aff;
    border-top: solid 1px #448aff;
    border-bottom: solid 4px #448aff; }
    @media all and (max-width: 767px) {
      .navbar .fake_button {
        padding: 3px;
        width: 100px;
        font-size: 10pt; } }
    @media all and (min-width: 768px) {
      .navbar .fake_button {
        padding: 5px;
        width: 120px;
        font-size: 12pt; } }
  .navbar .fake_button:active {
    border-top: solid 4px #448aff;
    border-bottom: solid 1px #448aff; }
  .navbar form {
    width: 50%;
    float: left;
    margin-right: 10px; }
  .navbar img {
    padding: 0px;
    margin: 0px;
    margin-top: -10px; }

a,
a:visited {
  text-decoration: none;
  text-transform: none;
  color: grey; }

a:hover,
a:active {
  text-decoration: none;
  text-transform: none;
  color: aliceblue; }

.main_container {
  min-height: 400px;
  margin-top: 60px; }
  .main_container ul {
    list-style-type: none; }
  .main_container li {
    display: block; }

.fake_button {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  @media all and (max-width: 767px) {
    .fake_button {
      padding: 8px;
      width: 120px;
      font-size: 12pt; } }
  @media all and (min-width: 768px) {
    .fake_button {
      padding: 10px;
      width: 200px;
      font-size: 14pt; } }

.no_display {
  display: none; }

#index_container {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-y: hidden; }

.panel {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #ffffff;
  word-break: break-all;
  text-align: left; }

.expand_out {
  position: absolute;
  top: 0;
  right: -768px;
  padding-top: 60px;
  height: 100%;
  display: block;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 0.1s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.6s;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-delay: 0.1s;
  -o-transition-property: all;
  -o-transition-duration: 0.6s;
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-delay: 0.1s;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.1s; }

#landing_container {
  width: 80px;
  background-color: #82b1ff;
  z-index: 5; }

#dressup_container {
  width: 60px;
  background-color: #ff5252;
  z-index: 10; }

#catalog_container {
  width: 40px;
  background-color: #ffe57f;
  z-index: 15; }

#culture_container {
  width: 20px;
  background-color: #b2ff59;
  z-index: 20; }

#landing_expanded {
  background-color: #82b1ff; }

#landing_dressup_game {
  width: 250px;
  margin-bottom: 10px;
  background-color: crimson;
  margin-left: auto;
  margin-right: auto; }

#landing_slideshow {
  width: 100%;
  min-height: 300px;
  background-color: cornflowerblue; }

#dressup_expanded {
  background-color: #ff5252; }

#catalog_expanded {
  background-color: #ffe57f; }

#culture_expanded {
  background-color: #b2ff59; }

.expand_content {
  width: 70%;
  margin-right: 80px;
  margin-left: 40px; }

#landing_content .fake_button {
  background-color: #bbdefb;
  border-left: solid 1px #448aff;
  border-right: solid 1px #448aff;
  border-top: solid 1px #448aff;
  border-bottom: solid 4px #448aff; }
#landing_content .fake_button:active {
  border-top: solid 4px #448aff;
  border-bottom: solid 1px #448aff; }
#landing_content a, #landing_content a:visited {
  color: #448aff; }
#landing_content a:hover, #landing_content a:active {
  color: #82b1ff; }

#dressup_content .fake_button {
  background-color: #ff8a80;
  border-left: solid 1px #ff1744;
  border-right: solid 1px #ff1744;
  border-top: solid 1px #ff1744;
  border-bottom: solid 4px #ff1744; }
#dressup_content .fake_button:active {
  border-top: solid 4px #ff1744;
  border-bottom: solid 1px #ff1744; }
#dressup_content a, #dressup_content a:visited {
  color: #ff1744; }
#dressup_content a:hover, #dressup_content a:active {
  color: #ff5252; }

#catalog_content .fake_button {
  background-color: #fefcb3;
  border-left: solid 1px #ffd740;
  border-right: solid 1px #ffd740;
  border-top: solid 1px #ffd740;
  border-bottom: solid 4px #ffd740; }
#catalog_content .fake_button:active {
  border-top: solid 4px #ffd740;
  border-bottom: solid 1px #ffd740; }
#catalog_content a, #catalog_content a:visited {
  color: #ffd740; }
#catalog_content a:hover, #catalog_content a:active {
  color: #ffe57f; }

#culture_content .fake_button {
  background-color: #ccff90;
  border-left: solid 1px #7cb342;
  border-right: solid 1px #7cb342;
  border-top: solid 1px #7cb342;
  border-bottom: solid 4px #7cb342; }
#culture_content .fake_button:active {
  border-top: solid 4px #7cb342;
  border-bottom: solid 1px #7cb342; }
#culture_content a, #culture_content a:visited {
  color: #7cb342; }
#culture_content a:hover, #culture_content a:active {
  color: #b2ff59; }

#dashboard_container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  background-color: #eee; }
  @media all and (max-width: 480px) {
    #dashboard_container {
      width: 100%; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #dashboard_container {
      padding: 10px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #dashboard_container {
      width: 800px;
      padding: 10px; } }
  @media all and (min-width: 1024px) {
    #dashboard_container {
      width: 1050px; } }

#dashboard_top_panel {
  width: 100%;
  min-height: 50px;
  font-size: 16pt;
  text-align: right;
  background-color: #ccc; }

#dashboard_left_panel {
  display: inline-block;
  text-align: center;
  position: fixed; }
  @media all and (max-width: 480px) {
    #dashboard_left_panel {
      position: relative;
      width: 100%;
      min-height: 40px;
      padding: 5px;
      border-bottom: solid 2px #000; }
      #dashboard_left_panel ul {
        width: 100%;
        padding: 0px;
        margin: 0px; }
      #dashboard_left_panel li {
        display: block;
        background-color: #ddd;
        border-bottom: solid 1px #bbb; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #dashboard_left_panel {
      width: 150px;
      border-right: solid 2px #000; }
      #dashboard_left_panel ul {
        width: 100%; }
      #dashboard_left_panel li {
        display: block; } }
  @media all and (min-width: 768px) {
    #dashboard_left_panel {
      width: 150px;
      border-right: solid 2px #000; }
      #dashboard_left_panel ul {
        width: 100%; }
      #dashboard_left_panel li {
        display: block; } }

#dashboard_right_panel {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 60px; }
  @media all and (max-width: 480px) {
    #dashboard_right_panel {
      position: relative;
      width: 100%;
      right: 0px;
      top: 4px;
      padding: 2px; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #dashboard_right_panel {
      padding: 5px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #dashboard_right_panel {
      padding: 5px;
      min-width: 600px; } }
  @media all and (min-width: 1024px) {
    #dashboard_right_panel {
      padding: 10px;
      min-width: 800px; } }

.message_box, .notic_box, .pm_box, .update_box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  margin: 5px;
  min-height: 100px;
  padding-left: 10px;
  border: solid 2px cadetblue; }
  @media all and (max-width: 480px) {
    .message_box, .notic_box, .pm_box, .update_box {
      margin: 2px;
      width: 100%; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .message_box, .notic_box, .pm_box, .update_box {
      width: 400px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .message_box, .notic_box, .pm_box, .update_box {
      width: 400px; } }
  @media all and (min-width: 1024px) {
    .message_box, .notic_box, .pm_box, .update_box {
      width: 600px; } }
  .message_box .message_box_header, .notic_box .message_box_header, .pm_box .message_box_header, .update_box .message_box_header {
    width: 100%;
    text-align: left;
    font-size: 12pt;
    padding-left: 5px;
    background-color: cadetblue;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }

.notic_box {
  border: solid 2px crimson; }
  .notic_box .message_box_header {
    background-color: crimson;
    color: #fff; }

.pm_box {
  border: solid 2px coral; }
  .pm_box .message_box_header {
    background-color: coral;
    color: #fff; }

.update_box {
  border: solid 2px cornflowerblue; }
  .update_box .message_box_header {
    background-color: cornflowerblue;
    color: #fff; }

#faq_container {
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #ccc; }
  @media all and (max-width: 480px) {
    #faq_container {
      width: 100%;
      padding: 10px; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #faq_container {
      width: 600px;
      padding: 10px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #faq_container {
      width: 800px;
      padding: 20px; } }
  @media all and (min-width: 1024px) {
    #faq_container {
      width: 1000px;
      padding: 30px; } }

.question_li {
  background-color: #ddd;
  padding: 4px;
  border-bottom: solid 2px #bbb; }
  @media all and (max-width: 480px) {
    .question_li {
      width: 100%; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .question_li {
      width: 500px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .question_li {
      width: 700px; } }
  @media all and (min-width: 1024px) {
    .question_li {
      width: 900px; } }

.answer_div {
  background-color: #ddd;
  border: solid 2px #bbb;
  margin-bottom: 10px;
  padding: 5px; }
  @media all and (max-width: 480px) {
    .answer_div {
      width: 100%; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .answer_div {
      width: 500px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .answer_div {
      width: 700px; } }
  @media all and (min-width: 1024px) {
    .answer_div {
      width: 900px; } }

#catalog_container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  background-color: #eee; }
  @media all and (max-width: 480px) {
    #catalog_container {
      width: 100%;
      background-color: coral;
      margin: 0px; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #catalog_container {
      width: 100%;
      padding: 10px;
      background-color: crimson; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #catalog_container {
      width: 800px;
      padding: 10px;
      background-color: cadetblue; } }
  @media all and (min-width: 1024px) {
    #catalog_container {
      width: 1050px;
      background-color: cornflowerblue; } }

#catalog_nav {
  position: fixed;
  background-color: aqua; }
  #catalog_nav ul {
    width: 100%;
    padding: 0px;
    padding-left: 5px; }
    #catalog_nav ul li {
      width: 100%;
      display: block; }
      #catalog_nav ul li ul {
        padding-left: 20px; }
  @media all and (max-width: 480px) {
    #catalog_nav {
      position: relative;
      width: 100%;
      text-align: center; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #catalog_nav {
      width: 150px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #catalog_nav {
      width: 200px; } }
  @media all and (min-width: 1024px) {
    #catalog_nav {
      width: 200px;
      margin-left: 20px; } }

.catalog_nav_header {
  text-transform: uppercase;
  font-weight: 600; }

#dressupgame_container {
  position: relative;
  width: 80%;
  margin: 10px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto; }

#avatar_container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 25%; }

#option_container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: aliceblue;
  display: inline-block;
  width: 74%; }

.dug_header {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  padding-left: 10px;
  width: 100%;
  background-color: #CCC; }
  .dug_header a, .dug_header a:visited {
    text-decoration: none;
    text-transform: none;
    cursor: pointer; }
  .dug_header a:hover, .dug_header a:active {
    text-decoration: none;
    text-transform: none; }

#avatar_box {
  display: block;
  background-color: #DDD;
  margin-bottom: 5px;
  min-height: 450px; }

#avatar_overlaybox {
  position: absolute;
  top: 25;
  right: 1; }
  #avatar_overlaybox span {
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer; }

#settings_box {
  display: block;
  background-color: #DDD;
  min-height: 160px; }

#options_rack_container {
  position: relative;
  margin-bottom: 5px;
  min-height: 400px; }

#options_box {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 80%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #DDD;
  max-height: 400px; }

#options_nav_bar {
  text-align: justify; }

#options_nav {
  width: 100%;
  list-style-type: none;
  padding: none;
  margin: 0px; }
  #options_nav li {
    display: inline-block;
    padding: 2px; }

#fabric_nav {
  width: 100%;
  display: none;
  list-style-type: none;
  padding: none;
  margin: 0px; }
  #fabric_nav li {
    display: inline-block;
    padding: 2px; }

#options_selection_container {
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 80%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px; }

.selection_box, .result_box {
  display: inline-block;
  width: 90px;
  min-height: 90px;
  margin: 3px;
  outline: 1px solid #AAA;
  position: relative;
  background-color: #EEE;
  cursor: pointer; }

.selection_header, .result_header, .hanged_selection_header {
  border-bottom: 1px solid #AAA; }
  .selection_header span, .result_header span, .hanged_selection_header span {
    padding: 0px;
    margin: 0px;
    padding-left: 2px; }
  .selection_header .glyphicon, .result_header .glyphicon, .hanged_selection_header .glyphicon {
    position: absolute;
    right: 0; }

.selection_img, .results_img, .hanged_img {
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto; }

#myRack_box {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 19%;
  background-color: #DDD;
  min-height: 400px;
  overflow-x: hidden;
  overflow-y: auto; }

#hanger_rack_container {
  max-height: 370px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 10px; }

.hanged_selection {
  display: inline-block;
  width: 90%;
  min-height: 90px;
  margin: 3px;
  outline: 1px solid #AAA;
  position: relative;
  background-color: #EEE;
  cursor: pointer; }

#myPicks_box {
  display: block;
  width: 100%;
  background-color: #DDD;
  min-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px; }

#mypicks_results_box {
  max-height: 190px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px; }

body {
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-delay: 0.1s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.6s;
  -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition-delay: 0.1s;
  -o-transition-property: all;
  -o-transition-duration: 0.6s;
  -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition-delay: 0.1s;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0.1s; }

/*# sourceMappingURL=main.css.map */
