html, body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

/* underscore tells sass that these are partial files. not meant to be compiled */
.navbar-inverse {
  background-color: #000; }

.navbar {
  height: 60px;
  vertical-align: middle; }
  @media all and (max-width: 480px) {
    .navbar {
      height: 60px;
      text-align: center; } }
  @media all and (max-width: 767px) {
    .navbar #inside_nav {
      background-color: #000; } }
  .navbar ul {
    padding: 0px; }
    @media all and (max-width: 767px) {
      .navbar ul {
        width: 60%; } }
  .navbar li {
    padding: 0px; }
    @media all and (max-width: 480px) {
      .navbar li {
        display: block; } }
  .navbar .navbar-right {
    margin: 0px;
    padding: 0px; }
    @media all and (min-width: 768px) and (max-width: 1449px) {
      .navbar .navbar-right {
        margin-top: -45px; } }
  .navbar .fake_button {
    background-color: #bbdefb;
    border-left: solid 1px #448aff;
    border-right: solid 1px #448aff;
    border-top: solid 1px #448aff;
    border-bottom: solid 4px #448aff; }
    @media all and (max-width: 767px) {
      .navbar .fake_button {
        padding: 3px;
        width: 100px;
        font-size: 10pt; } }
    @media all and (min-width: 768px) {
      .navbar .fake_button {
        padding: 5px;
        width: 120px;
        font-size: 12pt; } }
  .navbar .fake_button:active {
    border-top: solid 4px #448aff;
    border-bottom: solid 1px #448aff; }
  .navbar form {
    width: 50%;
    float: left;
    margin-right: 10px; }
  .navbar img {
    padding: 0px;
    margin: 0px;
    margin-top: -10px; }

#logo_box {
  margin: 0px;
  padding: 0px;
  margin-top: -10px; }
  @media all and (max-width: 767px) {
    #logo_box {
      width: 189px;
      height: 46px;
      background: url(../../public/img/logos/d_logo_72.png) no-repeat; } }
  @media all and (min-width: 768px) {
    #logo_box {
      width: 200px;
      height: 43px;
      background: url(../../public/img/logos/logo03_200x43.png) no-repeat; } }

a,
a:visited {
  text-decoration: none;
  text-transform: none;
  color: grey; }

a:hover,
a:active {
  text-decoration: none;
  text-transform: none;
  color: aliceblue; }

.main_container {
  min-height: 400px;
  margin-top: 60px; }
  .main_container ul {
    list-style-type: none; }
  .main_container li {
    display: block; }

.fake_button {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
  @media all and (max-width: 767px) {
    .fake_button {
      padding: 8px;
      width: 120px;
      font-size: 12pt; } }
  @media all and (min-width: 768px) {
    .fake_button {
      padding: 10px;
      width: 200px;
      font-size: 14pt; } }

.selection_box {
  display: inline-block;
  width: 130px;
  min-height: 150px;
  margin: 6px;
  outline: 1px solid #AAA;
  position: relative;
  background-color: #fff;
  cursor: pointer; }

.selection_header {
  text-align: center;
  height: 20px; }
  .selection_header span {
    padding: 0px;
    margin: 0px;
    padding-left: 2px; }
  .selection_header .glyphicon {
    position: absolute;
    right: 0; }

.selection_img {
  width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto; }

.no_display {
  display: none; }

#index_container {
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  overflow-x: hidden;
  overflow-y: hidden; }

.panel {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #ffffff;
  word-break: break-all;
  text-align: left; }

.expand_out {
  position: absolute;
  top: 0;
  right: -768px;
  padding-top: 60px;
  height: 100%;
  display: block;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-delay: 0.1s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.6s;
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-delay: 0.1s;
  -o-transition-property: all;
  -o-transition-duration: 0.6s;
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-delay: 0.1s;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.1s; }

#landing_container {
  width: 80px;
  background-color: #82b1ff;
  z-index: 5; }

#dressup_container {
  width: 60px;
  background-color: #ff5252;
  z-index: 10; }

#catalog_container {
  width: 40px;
  background-color: #ffe57f;
  z-index: 15; }

#culture_container {
  width: 20px;
  background-color: #b2ff59;
  z-index: 20; }

#landing_expanded {
  background-color: #82b1ff; }

#landing_dressup_game {
  width: 250px;
  margin-bottom: 10px;
  background-color: crimson;
  margin-left: auto;
  margin-right: auto; }

#landing_slideshow {
  width: 100%;
  min-height: 300px;
  background-color: cornflowerblue; }

#dressup_expanded {
  background-color: #ff5252; }

#catalog_expanded {
  background-color: #ffe57f; }

#culture_expanded {
  background-color: #b2ff59; }

.expand_content {
  width: 70%;
  margin-right: 80px;
  margin-left: 40px; }

#landing_content .fake_button {
  background-color: #bbdefb;
  border-left: solid 1px #448aff;
  border-right: solid 1px #448aff;
  border-top: solid 1px #448aff;
  border-bottom: solid 4px #448aff; }
#landing_content .fake_button:active {
  border-top: solid 4px #448aff;
  border-bottom: solid 1px #448aff; }
#landing_content a, #landing_content a:visited {
  color: #448aff; }
#landing_content a:hover, #landing_content a:active {
  color: #82b1ff; }

#dressup_content .fake_button {
  background-color: #ff8a80;
  border-left: solid 1px #ff1744;
  border-right: solid 1px #ff1744;
  border-top: solid 1px #ff1744;
  border-bottom: solid 4px #ff1744; }
#dressup_content .fake_button:active {
  border-top: solid 4px #ff1744;
  border-bottom: solid 1px #ff1744; }
#dressup_content a, #dressup_content a:visited {
  color: #ff1744; }
#dressup_content a:hover, #dressup_content a:active {
  color: #ff5252; }

#catalog_content .fake_button {
  background-color: #fefcb3;
  border-left: solid 1px #ffd740;
  border-right: solid 1px #ffd740;
  border-top: solid 1px #ffd740;
  border-bottom: solid 4px #ffd740; }
#catalog_content .fake_button:active {
  border-top: solid 4px #ffd740;
  border-bottom: solid 1px #ffd740; }
#catalog_content a, #catalog_content a:visited {
  color: #ffd740; }
#catalog_content a:hover, #catalog_content a:active {
  color: #ffe57f; }

#culture_content .fake_button {
  background-color: #ccff90;
  border-left: solid 1px #7cb342;
  border-right: solid 1px #7cb342;
  border-top: solid 1px #7cb342;
  border-bottom: solid 4px #7cb342; }
#culture_content .fake_button:active {
  border-top: solid 4px #7cb342;
  border-bottom: solid 1px #7cb342; }
#culture_content a, #culture_content a:visited {
  color: #7cb342; }
#culture_content a:hover, #culture_content a:active {
  color: #b2ff59; }

#dashboard_container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px;
  background-color: #bbdefb; }
  @media all and (max-width: 480px) {
    #dashboard_container {
      width: 100%; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #dashboard_container {
      padding: 10px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #dashboard_container {
      width: 800px;
      padding: 10px; } }
  @media all and (min-width: 1024px) {
    #dashboard_container {
      width: 1050px; } }

#dashboard_top_panel {
  width: 100%;
  min-height: 50px;
  font-size: 16pt;
  text-align: right;
  padding-right: 30px;
  background-color: #82b1ff; }

#dashboard_left_panel {
  display: inline-block;
  text-align: center;
  position: fixed; }
  @media all and (max-width: 480px) {
    #dashboard_left_panel {
      position: relative;
      width: 100%;
      min-height: 40px;
      padding: 5px;
      border-bottom: solid 2px #000; }
      #dashboard_left_panel ul {
        width: 100%;
        padding: 0px;
        margin: 0px; }
      #dashboard_left_panel li {
        display: block;
        background-color: #ddd;
        border-bottom: solid 1px #bbb; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #dashboard_left_panel {
      width: 150px;
      border-right: solid 2px #000; }
      #dashboard_left_panel ul {
        width: 100%; }
      #dashboard_left_panel li {
        display: block; } }
  @media all and (min-width: 768px) {
    #dashboard_left_panel {
      width: 150px;
      border-right: solid 2px #000; }
      #dashboard_left_panel ul {
        width: 100%; }
      #dashboard_left_panel li {
        display: block; } }

#dashboard_right_panel {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 60px; }
  @media all and (max-width: 480px) {
    #dashboard_right_panel {
      position: relative;
      width: 100%;
      right: 0px;
      top: 4px;
      padding: 2px; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #dashboard_right_panel {
      padding: 5px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #dashboard_right_panel {
      padding: 5px;
      min-width: 600px; } }
  @media all and (min-width: 1024px) {
    #dashboard_right_panel {
      padding: 10px;
      min-width: 800px; } }

.message_box, .notic_box, .pm_box, .update_box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  margin: 5px;
  min-height: 100px;
  padding-left: 10px;
  border: solid 2px cadetblue; }
  @media all and (max-width: 480px) {
    .message_box, .notic_box, .pm_box, .update_box {
      margin: 2px;
      width: 100%; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .message_box, .notic_box, .pm_box, .update_box {
      width: 400px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .message_box, .notic_box, .pm_box, .update_box {
      width: 400px; } }
  @media all and (min-width: 1024px) {
    .message_box, .notic_box, .pm_box, .update_box {
      width: 600px; } }
  .message_box .message_box_header, .notic_box .message_box_header, .pm_box .message_box_header, .update_box .message_box_header {
    width: 100%;
    text-align: left;
    font-size: 12pt;
    padding-left: 5px;
    background-color: cadetblue;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px; }

.notic_box {
  border: solid 2px crimson; }
  .notic_box .message_box_header {
    background-color: crimson;
    color: #fff; }

.pm_box {
  border: solid 2px coral; }
  .pm_box .message_box_header {
    background-color: coral;
    color: #fff; }

.update_box {
  border: solid 2px cornflowerblue; }
  .update_box .message_box_header {
    background-color: cornflowerblue;
    color: #fff; }

#faq_container {
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #ccc; }
  @media all and (max-width: 480px) {
    #faq_container {
      width: 100%;
      padding: 10px; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #faq_container {
      width: 600px;
      padding: 10px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #faq_container {
      width: 800px;
      padding: 20px; } }
  @media all and (min-width: 1024px) {
    #faq_container {
      width: 1000px;
      padding: 30px; } }

.question_li {
  background-color: #ddd;
  padding: 4px;
  border-bottom: solid 2px #bbb; }
  @media all and (max-width: 480px) {
    .question_li {
      width: 100%; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .question_li {
      width: 500px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .question_li {
      width: 700px; } }
  @media all and (min-width: 1024px) {
    .question_li {
      width: 900px; } }

.answer_div {
  background-color: #ddd;
  border: solid 2px #bbb;
  margin-bottom: 10px;
  padding: 5px; }
  @media all and (max-width: 480px) {
    .answer_div {
      width: 100%; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .answer_div {
      width: 500px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    .answer_div {
      width: 700px; } }
  @media all and (min-width: 1024px) {
    .answer_div {
      width: 900px; } }

#catalog_page_container {
  background-color: #fefcb3;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px; }
  @media all and (max-width: 480px) {
    #catalog_page_container {
      width: 100%;
      margin: 0px; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #catalog_page_container {
      width: 100%;
      padding: 10px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #catalog_page_container {
      width: 800px;
      padding: 10px; } }
  @media all and (min-width: 1024px) {
    #catalog_page_container {
      width: 1050px; } }

#catalog_nav {
  position: fixed; }
  #catalog_nav ul {
    width: 100%;
    padding: 0px;
    padding-left: 5px; }
    #catalog_nav ul li {
      width: 100%;
      display: block; }
      #catalog_nav ul li ul {
        padding-left: 20px; }
  @media all and (max-width: 480px) {
    #catalog_nav {
      position: relative;
      width: 100%;
      text-align: center; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #catalog_nav {
      width: 150px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #catalog_nav {
      width: 200px; } }
  @media all and (min-width: 1024px) {
    #catalog_nav {
      width: 200px;
      margin-left: 20px; } }

.catalog_nav_header {
  text-transform: uppercase;
  font-weight: 600; }

#catalog_display {
  border-left: solid 1px #000;
  position: absolute;
  top: 5px;
  right: 1px;
  min-height: 500px; }
  @media all and (max-width: 480px) {
    #catalog_display {
      top: 210px;
      width: 100%;
      min-height: 400px; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #catalog_display {
      width: 400px;
      position: relative;
      margin-left: 160px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #catalog_display {
      width: 700px; } }
  @media all and (min-width: 1024px) {
    #catalog_display {
      width: 850px; } }

#catalog_content {
  padding: 20px;
  margin-left: auto;
  margin-right: auto; }
  @media all and (max-width: 480px) {
    #catalog_content {
      padding: 10px; } }

#game_container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  min-height: 400px; }
  @media all and (max-width: 480px) {
    #game_container {
      width: 100%; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #game_container {
      padding: 10px; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #game_container {
      width: 900px;
      padding: 10px; } }
  @media all and (min-width: 1024px) {
    #game_container {
      width: 1200px; } }

#dug_tab_container {
  z-index: 20;
  color: #fff;
  position: fixed;
  top: 200px;
  right: 0px;
  display: block;
  margin: 0px;
  width: 100px;
  height: 100px;
  padding: 0px; }
  @media all and (max-width: 480px) {
    #dug_tab_container {
      top: 100px;
      width: 50px; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #dug_tab_container {
      /*position: fixed;
      top: 200px;
      right: 0px;
      display: block;
      margin: 0px;
      //margin-left: auto;
      //margin-right: auto;
      width: 100px;
      height: 100px;
      
      padding: 0px;*/ } }
  @media all and (min-width: 768px) {
    #dug_tab_container {
      display: none; } }

.dressup_tab {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 14pt;
  cursor: pointer; }
  @media all and (min-width: 481px) and (max-width: 767px) {
    .dressup_tab {
      /*display: block;
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      
      text-align: center;
      font-size: 14pt;
      font-size-adjust: auto;*/ } }

#tab_avatar {
  background-color: #82b1ff; }

#tab_options {
  background-color: #ff5252; }

#tab_myrack {
  background-color: #ffe57f; }

#tab_mypicks {
  background-color: #b2ff59; }

#checkoutnow_btn {
  position: absolute;
  z-index: 20;
  top: 10px;
  right: 0px;
  display: block;
  background-color: #7cb342;
  -webkit-box-shadow: 0px 3px 3px #607c42;
  -moz-box-shadow: 0px 3px 3px #607c42;
  -ms-box-shadow: 0px 3px 3px #607c42;
  -o-box-shadow: 0px 3px 3px #607c42;
  box-shadow: 0px 3px 3px #607c42;
  color: #fff; }
  @media all and (max-width: 767px) {
    #checkoutnow_btn {
      padding: 8px;
      width: 100px;
      font-size: 8pt; } }
  @media all and (min-width: 768px) {
    #checkoutnow_btn {
      padding: 10px;
      width: 100px;
      font-size: 10pt; } }

.dug_container_header {
  margin: 0px;
  margin-bottom: 5px;
  padding: 0px;
  padding-left: 10px;
  color: #fff;
  width: 100%;
  background-color: #CCC; }
  .dug_container_header a, .dug_container_header a:visited {
    text-decoration: none;
    text-transform: none;
    cursor: pointer; }
  .dug_container_header a:hover, .dug_container_header a:active {
    text-decoration: none;
    text-transform: none; }

#left_contaienr {
  position: absolute;
  top: 60px;
  left: 0px;
  display: inline-block; }
  @media all and (max-width: 480px) {
    #left_contaienr {
      top: 10px;
      width: 340px;
      margin-left: 5px;
      display: block; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #left_contaienr {
      top: 10px;
      width: 432px;
      margin-left: 30px;
      display: block; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #left_contaienr {
      width: 260px; } }
  @media all and (min-width: 1024px) {
    #left_contaienr {
      width: 300px; } }

#right_container {
  position: absolute;
  top: 60px;
  display: inline-block; }
  @media all and (max-width: 480px) {
    #right_container {
      top: 10px;
      width: 340px;
      left: 0px;
      margin-left: 5px;
      display: none; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #right_container {
      top: 10px;
      width: 432px;
      left: 0px;
      margin-left: 30px;
      display: none; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #right_container {
      right: 0px;
      width: 630px;
      min-height: 550px; } }
  @media all and (min-width: 1024px) {
    #right_container {
      right: 0px;
      width: 880px;
      min-height: 640px; } }

#avatar_container {
  display: block;
  height: 580px;
  background-color: #bbdefb; }
  #avatar_container .dug_container_header {
    background-color: #448aff; }

#avatar_content {
  margin: 0px;
  padding: 5px;
  width: 260px;
  height: 550px;
  margin: auto;
  overflow: hidden;
  position: relative;
  background: url("../../public/partials/dressupgame/img/d_images/d_body_type_placeholder_260.png") no-repeat; }
  #avatar_content img {
    margin: 0px;
    padding: 0px; }

#settings_container {
  display: block;
  margin-top: 10px;
  height: 130px; }
  #settings_container .dug_container_header {
    background-color: #448aff; }

#settings_content {
  margin: 0px;
  padding: 5px; }

#options_rack_container {
  position: relative; }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #options_rack_container {
      height: 390px; } }
  @media all and (min-width: 1024px) {
    #options_rack_container {
      height: 450px; } }

#options_container {
  display: inline-block;
  top: 0px;
  left: 0px;
  background-color: #ff8a80; }
  @media all and (max-width: 480px) {
    #options_container {
      width: 100%;
      min-height: 500px;
      display: block;
      margin-bottom: 10px;
      position: absolute; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #options_container {
      width: 100%;
      min-height: 630px;
      display: block;
      margin-bottom: 10px;
      position: absolute; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #options_container {
      width: 420px;
      height: 390px; } }
  @media all and (min-width: 1024px) {
    #options_container {
      width: 700px;
      height: 450px; } }
  #options_container .dug_container_header {
    background-color: #ff1744;
    height: 45px; }
    #options_container .dug_container_header span {
      width: 100%; }
    #options_container .dug_container_header select {
      color: #000;
      width: 50%;
      margin-left: auto;
      margin-right: auto; }

#options_content {
  margin: 0px;
  padding: 5px; }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #options_content {
      height: 338px;
      overflow-y: auto; } }
  @media all and (min-width: 1024px) {
    #options_content {
      height: 398px;
      overflow-y: auto; } }

#myrack_container {
  display: inline-block;
  position: absolute;
  top: 0px;
  background-color: #fefcb3; }
  @media all and (max-width: 480px) {
    #myrack_container {
      width: 100%;
      min-height: 500px;
      display: block;
      margin-bottom: 10px;
      display: none; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #myrack_container {
      width: 100%;
      min-height: 630px;
      display: block;
      margin-bottom: 10px;
      display: none; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #myrack_container {
      width: 200px;
      height: 390px;
      right: 0px; } }
  @media all and (min-width: 1024px) {
    #myrack_container {
      width: 170px;
      height: 450px;
      right: 0px; } }
  #myrack_container .dug_container_header {
    background-color: #ffd740; }

#myrack_content {
  margin: 0px;
  padding: 5px; }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #myrack_content {
      height: 92%;
      overflow-x: auto; } }
  @media all and (min-width: 1024px) {
    #myrack_content {
      height: 93%;
      overflow-y: auto; } }

#mypicks_container {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #ccff90; }
  @media all and (max-width: 480px) {
    #mypicks_container {
      width: 100%;
      min-height: 500px;
      display: block;
      margin-top: 0px;
      margin-bottom: 10px;
      position: absolute;
      top: 0px;
      display: none; } }
  @media all and (min-width: 481px) and (max-width: 767px) {
    #mypicks_container {
      width: 100%;
      min-height: 630px;
      display: block;
      margin-top: 0px;
      margin-bottom: 10px;
      position: absolute;
      top: 0px;
      display: none; } }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #mypicks_container {
      min-height: 300px; } }
  @media all and (min-width: 1024px) {
    #mypicks_container {
      min-height: 200px; } }
  #mypicks_container .dug_container_header {
    background-color: #7cb342; }

#mypicks_content {
  margin: 0px;
  padding: 5px;
  height: 94%; }
  @media all and (min-width: 768px) and (max-width: 1023px) {
    #mypicks_content {
      overflow-y: auto; } }
  @media all and (min-width: 1024px) {
    #mypicks_content {
      overflow-y: auto; } }

.dug_clothes_box {
  position: absolute; }

.clothes_top {
  width: 170px;
  height: 140px;
  top: 98px;
  left: 0px; }

.clothes_bottom {
  width: 170px;
  height: 290px;
  left: 0px;
  top: 228px; }

.clothes_full {
  width: 170px;
  height: 430px;
  top: 95px;
  left: 2px; }

#clothes_top_test2 {
  display: none; }

#clothes_bottom_test2 {
  display: none; }

#clothes_full_test1 {
  display: none; }

#clothes_full_test2 {
  display: none; }

#settings_tone_box {
  float: left;
  height: 70px;
  margin-right: 10px; }
  @media all and (max-width: 767px) {
    #settings_tone_box {
      width: 170px; } }
  @media all and (min-width: 768px) {
    #settings_tone_box {
      width: 140px; } }

.setting_tone_pick {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: chocolate; }

#skin_tone_1 {
  background-color: #FAE7D0; }

#skin_tone_2 {
  background-color: #FFCC99; }

#skin_tone_3 {
  background-color: #FEB186; }

#skin_tone_4 {
  background-color: #B98865; }

#skin_tone_5 {
  background-color: #aa724B; }

#skin_tone_6 {
  background-color: #C18e74; }

#skin_tone_7 {
  background-color: #935D37; }

#skin_tone_8 {
  background-color: #7B4B2A; }

#skin_tone_9 {
  background-color: #573719; }

#skin_tone_10 {
  background-color: #483728; }

#settings_other_box {
  display: inline-block; }
  #settings_other_box img {
    margin-left: auto;
    margin-right: auto; }
  @media all and (max-width: 767px) {
    #settings_other_box {
      width: 120px; } }
  @media all and (min-width: 768px) {
    #settings_other_box {
      width: 100px; } }

.settings_icon {
  padding: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: auto;
  cursor: pointer; }

.hanger_img {
  background: url(../../public/partials/dressupgame/img/d_images/singlehanger_120.png) no-repeat; }

.content_to_expand {
  @inlcude transition(all, 0.6s, cubic-bezier(0.77, 0, 0.175, 1), 0.1s); }

#dug_order_container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 138, 128, 0.7); }
  #dug_order_container h1, #dug_order_container h2, #dug_order_container h3, #dug_order_container h4, #dug_order_container h5, #dug_order_container h6, #dug_order_container legend {
    text-align: center; }

#dug_order_container form {
  padding: 20px; }
  #dug_order_container form fieldset {
    margin-bottom: 30px; }
  #dug_order_container form select {
    width: 70%;
    margin-left: 20px;
    margin-bottom: 10px; }
  #dug_order_container form input {
    width: 50px;
    margin-left: 20px;
    margin-bottom: 10px; }
  #dug_order_container form button {
    margin-bottom: 5px;
    border: none;
    outline: none; }
  #dug_order_container form button[type=reset] {
    background-color: #fefcb3;
    -webkit-box-shadow: 0px 1px 1px #ffd740;
    -moz-box-shadow: 0px 1px 1px #ffd740;
    -ms-box-shadow: 0px 1px 1px #ffd740;
    -o-box-shadow: 0px 1px 1px #ffd740;
    box-shadow: 0px 1px 1px #ffd740; }
  #dug_order_container form button[type=submit] {
    background-color: #ccff90;
    -webkit-box-shadow: 0px 1px 1px #607c42;
    -moz-box-shadow: 0px 1px 1px #607c42;
    -ms-box-shadow: 0px 1px 1px #607c42;
    -o-box-shadow: 0px 1px 1px #607c42;
    box-shadow: 0px 1px 1px #607c42; }

/*# sourceMappingURL=main.css.map */
