<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Dress up game template
    </title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
    <!-- start global navbar-->
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid"  id="navbar_container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#inside_nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="index.html"><img alt="From West Africa with Love" src="../../img/logos/logo03_huge_200.png" /></a>
                </div>
                
                <div class="nav-collapse navbar-responsive-collapse" id="inside_nav">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="../catalog.html">Catalog</a>
                        </li>
                        <li class="active">
                            <a href="dressupgame.html">Play!</a>
                        </li>
                        <!--<li>
                            <a href="#">Culture</a>
                        </li>-->
                        <li>
                            <a href="../faq.html">FAQ</a>
                        </li>
                        
                    </ul> <!-- end links list -->
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="search" />
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                    </form><!--navbar form-->
                    
                    <!-- input group nav
                    <div class="input-group navbar-left">
                        <input type="text" class="form-control" placeholder="search" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div> -->
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><span class="fake_button">Login</span></a>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/icons/icon-basket_40x40.png" alt="shopping basket" /></a>
                        </li>
                    </ul><!-- end right pull-->
                    
                </div>
                <!--end nav collapse-->
            </div>
        </div> <!-- end global navbar-->
    
<div class="container" id="dressupgame_container">
    <div id="avatar_container">
        <div id="avatar_box">
            <div class="dug_header">Avatar</div>
            <div id="avatar_overlaybox">
                <span class="glyphicon glyphicon-king"></span><span class="glyphicon glyphicon-queen"></span>
            </div>
        </div> <!-- end avatar box -->
        <div id="settings_box">
            <div class="dug_header">Settings</div>
            skin color, etc...don't really feel like filling this out.
        </div> <!-- end settings box -->
    </div> <!-- end avatar contaienr -->
    <div id="option_container">
        <div id="options_rack_container">
            <div id="options_box">

                <div class="dug_header" id="dug_breadcrumbs">Options
                    <div id="options_nav_bar">
                        <ul id="options_nav">
                            <li><a id="option_full_outfits">full outfits</a></li>
                            <li><a id="option_one_piece">one piece</a></li>
                            <li><a id="option_tops">tops</a></li>
                            <li><a id="option_bottoms">bottoms</a></li>
                            <li><a id="option_styles">styles</a></li>
                        </ul> <!-- end option nav -->
                        <ul id="fabric_nav">
                            <li><a id="option_styles_fabric">fabric</a></li>
                            <li><a id="option_styles_color">color</a></li>
                            <li><a id="option_styles_shapes">shapes</a></li>
                        </ul> <!-- end styles nav -->
                    </div> <!-- end options nav bar div -->
                </div> <!-- end section header -->
                
                <div id="options_selection_container">
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box">
                        <div class="selection_header"><span>Selection</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img"></div>
                    </div> <!-- end selection -->
                    
                </div> <!-- end options selections container -->
                
            </div> <!-- end options box -->
            <div id="myRack_box">
                <div class="dug_header">My Rack</div>
                
                <div id="hanger_rack_container">
                    <div class="hanged_selection">
                        <div class="hanged_selection_header"><span>Hanger</span><span class="glyphicon glyphicon-remove"></span></div>
                        <div class="hanged_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="hanged_selection">
                        <div class="hanged_selection_header"><span>Hanger</span><span class="glyphicon glyphicon-remove"></span></div>
                        <div class="hanged_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="hanged_selection">
                        <div class="hanged_selection_header"><span>Hanger</span><span class="glyphicon glyphicon-remove"></span></div>
                        <div class="hanged_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="hanged_selection">
                        <div class="hanged_selection_header"><span>Hanger</span><span class="glyphicon glyphicon-remove"></span></div>
                        <div class="hanged_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="hanged_selection">
                        <div class="hanged_selection_header"><span>Hanger</span><span class="glyphicon glyphicon-remove"></span></div>
                        <div class="hanged_img"></div>
                    </div> <!-- end selection -->
                    
                    <div class="hanged_selection">
                        <div class="hanged_selection_header"><span>Hanger</span><span class="glyphicon glyphicon-remove"></span></div>
                        <div class="hanged_img"></div>
                    </div> <!-- end selection -->
                    
                </div> <!-- rack contaienr -->
                
            </div> <!-- end myRack box -->
        </div><!-- end options myrack conatainer -->
        <div id="myPicks_box">
            <div class="dug_header">My Picks</div>
            
            <div id="mypicks_results_box">
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
                <div class="result_box">
                    <div class="result_header"><span>Result</span><span class="glyphicon glyphicon-plus"></span></div>
                    <div class="results_img"></div>
                </div> <!-- end selection -->
                
            </div> <!-- mypicks results -->
            
        </div> <!-- end myPicks box -->
    </div> <!-- end options container -->
</div> <!-- end dress up container -->
    
</body>

</html>