<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
    <title>Dress up Game</title>
</head>

<body>
    <!-- start global navbar-->
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid" id="navbar_container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#inside_nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="index.html"><img alt="From West Africa with Love" src="../../img/logos/d_logo_72.png" />
                </a>
            </div>

            <div class="nav-collapse navbar-responsive-collapse" id="inside_nav">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="../catalog.html">Catalog</a>
                    </li>
                    <li>
                        <a href="play.html">Play!</a>
                    </li>
                    <!--<li>
                            <a href="#">Culture</a>
                        </li>-->
                    <li>
                        <a href="faq.html">FAQ</a>
                    </li>

                </ul>
                <!-- end links list -->
                <form class="navbar-form navbar-left">
                    <input type="text" class="form-control" placeholder="search" />
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
                <!--navbar form-->

                <!-- input group nav
                    <div class="input-group navbar-left">
                        <input type="text" class="form-control" placeholder="search" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div> -->

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"><span class="fake_button">Login</span></a>
                    </li>
                    <li>
                        <a href="#"><img src="../../img/icons/icon-basket_40x40.png" alt="shopping basket" />
                        </a>
                    </li>
                </ul>
                <!-- end right pull-->

            </div>
            <!--end nav collapse-->
        </div>
    </div>
    <!-- end global navbar-->

    <div class="main_container">
        <h1>Order</h1>
        <div id="dug_order_container">
            <div id="order_getitmade_pic">
                <img src="img/d_images/dressup_icon_get_it_made.png" />
            </div>
            <div id="order_box">
                <h3>Items</h3>
                <div id="order_items_box">
                    No items selected
                </div>
            </div>
            <form class="form-horizontal">
                <fieldset>
                    <legend>Measurements</legend>
                    <div class="form-group">
                        <label for="input_arms" class="col-sm-5 control-label">Arms</label>
                        <div class="col-sm-5">
                            <input type="text" placeholder="ex: 5in" id="input_arms">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_shoulders" class="col-sm-5 control-label">Shoulders</label>
                        <div class="col-sm-5">
                            <input type="text" placeholder="ex: 5in" id="input_shoulders">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_chest" class="col-sm-5 control-label">Chest</label>
                        <div class="col-sm-5">
                            <input type="text" placeholder="ex: 5in" id="input_chest">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_waist" class="col-sm-5 control-label">Waist</label>
                        <div class="col-sm-5">
                            <input type="text" placeholder="ex: 5in" id="input_waist">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_hip" class="col-sm-5 control-label">Hip</label>
                        <div class="col-sm-5">
                            <input type="text" placeholder="ex: 5in" id="input_hip">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_length_neck_waist" class="col-sm-5 control-label">Length (neck to waist)</label>
                        <div class="col-sm-5">
                            <input type="text" placeholder="ex: 5in" id="input_length_neck_waist">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_length_waist_floor" class="col-sm-5 control-label">Length (waist to desired distance from floor)</label>
                        <div class="col-sm-5">
                            <input type="text" placeholder="ex: 5in" id="input_length_waist_floor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input_inseam" class="col-sm-5 control-label">Inseam</label>
                        <div class="col-sm-5">
                            <input type="text" placeholder="ex: 5in" id="input_inseam">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Shop</legend>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="order_country_select">Country</label>
                        <div class="col-sm-5">
                            <select id="order_country_select">
                                <option value="Ghana">Ghana</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="Ivory Coast">Ivory Coast</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Togo">Togo</option>
                                <option value="Benin">Benin</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Guinea">Guinea</option>
                                <option value="Guinea-Bissau">Guinea-Bissau</option>
                                <option value="Senegal">Senegal</option>
                                <option value="The Gambia">The Gambia</option>
                                <option value="Cape Verde">Cape Verde</option>
                                <option value="Mali">Mali</option>
                                <option value="Niger">Niger</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-5 control-label" for="order_shop_select">Shop</label>
                        <div class="col-sm-5">
                            <select id="order_shop_select">
                                <option>none</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <button class="fake_button" type="reset">Reset</button>
                <br>
                <button class="fake_button" type="submit" onclick="onOrderSubmit()">Submit</button>
            </form>
            <a href="play.html"><span class="fake_button">Back</span></a>
        </div>
    </div>

</body>
<script src="../../js/nav.js"></script>
<script>
    function onOrderSubmit() {
        alert("Order Sent!");
    }
</script>

</html>