<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        Dress up game
    </title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body>
<!-- start global navbar-->
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid"  id="navbar_container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#inside_nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html"><div id="logo_box"></div></a>
                </div>
                
                <div class="nav-collapse navbar-responsive-collapse" id="inside_nav">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="../catalog.html">Catalog</a>
                        </li>
                        <li>
                            <a href="play.html">Play!</a>
                        </li>
                        <!--<li>
                            <a href="#">Culture</a>
                        </li>-->
                        <li>
                            <a href="../faq.html">FAQ</a>
                        </li>
                        
                    </ul> <!-- end links list -->
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="search" />
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                    </form><!--navbar form-->
                    
                    <!-- input group nav
                    <div class="input-group navbar-left">
                        <input type="text" class="form-control" placeholder="search" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div> -->
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><span class="fake_button">Login</span></a>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/icons/icon-basket_40x40.png" alt="shopping basket" /></a>
                        </li>
                    </ul><!-- end right pull-->
                    
                </div>
                <!--end nav collapse-->
            </div>
        </div> <!-- end global navbar-->
    
    <div class="main_container">
        <!--<h1>Play!</h1>-->
        <div id="game_container">
            
            <div id="dug_tab_container">
                <div class="dressup_tab" id="tab_avatar"><span>Avatar</span></div>
                <div class="dressup_tab" id="tab_options"><span>Options</span></div>
                <div class="dressup_tab" id="tab_myrack"><span>myRack</span></div>
                <div class="dressup_tab" id="tab_mypicks"><span>myPicks</span></div>
            </div>
            <a href="order.html"><div id="checkoutnow_btn" class="fake_button">Get It Made!</div></a>
            
            <div id="left_contaienr" class="content_to_expand is_expanded">
                <div id="avatar_container">
                    <div class="dug_container_header">Avatar</div>
                    <div id="avatar_content">
                        <!--<img alt="avatar" src="../../img/dgame/d_images/d_body_type_placeholder_260.png" /> -->
                        <div class="dug_clothes_box" id="clothes_top"></div>
                        <div class="dug_clothes_box" id="clothes_bottom"></div>
                        <div class="dug_clothes_box" id="clothes_full"></div>
                    </div>
                </div> <!-- end avatar container -->
                <div id="settings_container">
                    <div class="dug_container_header">Settings</div>
                    <div id="settings_content">
                        <div id="settings_tone_box">
                            <div class="setting_tone_pick" id="skin_tone_1"></div>
                            <div class="setting_tone_pick" id="skin_tone_2"></div>
                            <div class="setting_tone_pick" id="skin_tone_3"></div>
                            <div class="setting_tone_pick" id="skin_tone_4"></div>
                            <div class="setting_tone_pick" id="skin_tone_5"></div>
                            <div class="setting_tone_pick" id="skin_tone_6"></div>
                            <div class="setting_tone_pick" id="skin_tone_7"></div>
                            <div class="setting_tone_pick" id="skin_tone_8"></div>
                            <div class="setting_tone_pick" id="skin_tone_9"></div>
                            <div class="setting_tone_pick" id="skin_tone_10"></div>
                        </div>
                        <div id="settings_other_box">
                            <div id="settings_male" class="settings_icon">
                                <img alt="male" src="../../img/dgame/d_images/d_game_pref_male.png" />
                            </div>
                            <div id="settings_female" class="settings_icon">
                                <img alt="female" src="../../img/dgame/d_images/d_game_pref_female.png" />
                            </div>
                            <div id="settings_reset" class="settings_icon">
                                <img alt="reset" src="../../img/dgame/d_images/d_game_pref_reset.png" />
                            </div>
                            <div id="settings_png" class="settings_icon">
                                <img alt="export to png" src="../../img/dgame/d_images/d_game_pref_export+png.png" />
                            </div>
                            <div id="settings_jpg" class="settings_icon">
                                <img alt="export to jpg" src="../../img/dgame/d_images/d_game_pref_export+jpg.png" />
                            </div>
                            <div id="settings_save" class="settings_icon">
                                <img alt="save" src="../../img/dgame/d_images/d_game_pref_save.png" />
                            </div>
                        </div>
                    </div>
                </div> <!-- end settings container -->
            </div> <!-- end left container -->
            <div id="right_container">
                <div id="options_rack_container" >
                    <div id="options_container" class="content_to_expand">
                        <div class="dug_container_header"><span>Options </span><br>
                            <select id="options_nav_select">
                                <option> -- Select One -- </option>
                                <option>Full Outfits</option>
                                <option>One Peice</option>
                                <option>Tops</option>
                                <option>Bottoms</option>
                                <option>Styles -- Fabric</option>
                                <option>Styles -- Color</option>
                                <option>Styles -- Shapes</option>
                            </select>
                        </div>
                        <div id="options_content">
                            
                            <div class="selection_box">
                                <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                                <div class="selection_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box">
                                <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                                <div class="selection_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box">
                                <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                                <div class="selection_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box">
                                <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                                <div class="selection_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box">
                                <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                                <div class="selection_img"></div>
                            </div> <!-- end selection -->
                            
                        </div> <!--end options content -->
                    </div> <!-- end options container -->
                    <div id="myrack_container" class="content_to_expand">
                        <div class="dug_container_header">My Rack</div>
                        <div id="myrack_content">
                            
                            
                            <div class="selection_box hanger_box">
                                <div class="selection_header hanger_header"><span>Item</span><span class="glyphicon glyphicon-remove"></span></div>
                                <div class="selection_img hanger_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box hanger_box">
                                <div class="selection_header hanger_header"><span>Item</span><span class="glyphicon glyphicon-remove"></span></div>
                                <div class="selection_img hanger_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box hanger_box">
                                <div class="selection_header hanger_header"><span>Item</span><span class="glyphicon glyphicon-remove"></span></div>
                                <div class="selection_img hanger_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box hanger_box">
                                <div class="selection_header hanger_header"><span>Item</span><span class="glyphicon glyphicon-remove"></span></div>
                                <div class="selection_img hanger_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box hanger_box">
                                <div class="selection_header hanger_header"><span>Item</span><span class="glyphicon glyphicon-remove"></span></div>
                                <div class="selection_img hanger_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box hanger_box">
                                <div class="selection_header hanger_header"><span>Item</span><span class="glyphicon glyphicon-remove"></span></div>
                                <div class="selection_img hanger_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box hanger_box">
                                <div class="selection_header hanger_header"><span>Item</span><span class="glyphicon glyphicon-remove"></span></div>
                                <div class="selection_img hanger_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box hanger_box">
                                <div class="selection_header hanger_header"><span>Item</span><span class="glyphicon glyphicon-remove"></span></div>
                                <div class="selection_img hanger_img"></div>
                            </div> <!-- end selection -->
                            
                            
                        </div> <!-- end myrack content -->
                    </div> <!-- end myrack container -->
                </div> <!-- end options rack container -->
                <div id="mypicks_container" class="content_to_expand">
                    <div class="dug_container_header">My Picks</div>
                    <div id="mypicks_content">
                        
                        
                        <div class="selection_box">
                                <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                                <div class="selection_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box">
                                <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                                <div class="selection_img"></div>
                            </div> <!-- end selection -->
                            <div class="selection_box">
                                <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                                <div class="selection_img"></div>
                            </div> <!-- end selection -->
                        
                    </div> <!-- end mypicks content -->
                </div> <!-- end mypicks container -->
            </div> <!-- end right container -->
        </div>
    </div>

</body>
    <script src="../../js/nav.js"></script>
    <script src="../../js/game.js"></script>
</html>