#catalog_page_container{
    
    //background-color: $catalog-light-color;
    
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    
    //border: solid 1px #ccc;
    //background-color: #eee;
    
    @media all and (max-width: 480px) {
        //phone
        width: 100%;
        //background-color: coral;
        margin: 0px;
        //background-color: #eee;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        //tablet
        width: 100%;
        padding: 10px;
        //background-color: crimson;
        //background-color: #ddd;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        //half screen desktop
        width: 800px;
        padding: 10px;
        //background-color: cadetblue;
        //background-color: #ccc;
    }
    @media all and (min-width: 1024px) {
        //half screen desktop
        width: 1050px;
        //background-color: cornflowerblue;
        //background-color: #bbb;
    }
}

#catalog_nav {
    position: fixed;
    //margin-top: 10px;
    //background-color: aqua;
    
    ul {
        width: 100%;
        padding: 0px;
        padding-left: 5px;
        
        li{
            width: 100%;
            display: block;
            cursor: pointer;
            
            ul {
                padding-left: 20px;
            }
        }
    }
    
    @media all and (max-width: 480px) {
        //phone
        position: relative;
        width: 100%;
        text-align: center;
        
        
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        width: 150px;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        //half screen desktop
        width: 200px;
    }
    @media all and (min-width: 1024px) {
        //half screen desktop
        width: 200px;
        margin-left: 20px;
        //margin-top: 20px;
    }
}

.catalog_nav_header {
    text-transform: uppercase;
    font-weight: 600;
}

#catalog_display{
    //background-color: darkmagenta;
    
    border-left: solid 1px #000;
    
    position: absolute;
    top: 5px;
    right: 1px;
    
    min-height: 500px;
    
    @media all and (max-width: 480px) {
        //phone
        top: 210px;
        width: 100%;
        min-height: 400px;
    }
    @media all and (min-width: 481px) and (max-width: 767px){
        //tablet
        width: 400px;
        position: relative;
        
        margin-left: 160px;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        //half screen desktop
        width: 700px;
        
    }
    @media all and (min-width: 1024px) {
        //half screen desktop
        width: 850px;
    }
}

#catalog_content {
    padding: 20px;
    
    margin-left: auto;
    margin-right: auto;
    
    @media all and (max-width: 480px) {
        //phone
        padding: 10px;
    }
    @media all and (min-width: 481px) and (max-width: 767px){
        //tablet
        
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        //half screen desktop
        
    }
    @media all and (min-width: 1024px) {
        
        //half screen desktop
    }
}

