#game_container {
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
    
    
    
    
    //border: solid 1px #ccc;
    //background-color: $landing-light-color;
    
    @media all and (max-width: 480px) {
        //phone
        width: 100%;
        //background-color: coral;
        //background-color: #eee;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        //tablet
        padding: 10px;
        //background-color: crimson;
        //background-color: #ddd;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        //half screen desktop
        width: 900px;
        padding: 10px;
        //background-color: cadetblue;
        //background-color: #ccc;
    }
    @media all and (min-width: 1024px) {
        //half screen desktop
        width: 1200px;
        //background-color: cornflowerblue;
        //background-color: #bbb;
    }
}

#dug_tab_container {
    z-index: 20;
    color: #fff;
    
    position: fixed;
        top: 200px;
        right: 0px;
        display: block;
        margin: 0px;
        //margin-left: auto;
        //margin-right: auto;
        width: 100px;
        height: 100px;
        
        padding: 0px;
    
    //background-color: lightsteelblue;
    @media all and (max-width: 480px) {
        top: 100px;
        width: 50px;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        /*position: fixed;
        top: 200px;
        right: 0px;
        display: block;
        margin: 0px;
        //margin-left: auto;
        //margin-right: auto;
        width: 100px;
        height: 100px;
        
        padding: 0px;*/
    }
    @media all and (min-width: 768px) {
        display: none;
    }
}

.dressup_tab {
    //transitions!
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
    text-align: center;
    font-size: 14pt;
    
    cursor: pointer;
    
    
    @media all and (max-width: 480px) {
        
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        /*display: block;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        
        text-align: center;
        font-size: 14pt;
        font-size-adjust: auto;*/
    }
}

#tab_avatar {
    background-color: $landing-base-color;
}

#tab_options {
    background-color: $dressup-base-color;
}

#tab_myrack {
    background-color: $catalog-base-color;
}

#tab_mypicks {
    background-color: $culture-base-color;
}

.dug_container_header {
    margin: 0px;
    margin-bottom: 5px;
    padding: 0px;
    padding-left: 10px;
    
    color: #fff;
    
    width: 100%;
    background-color: $dug-section-header-bgcolor;
    
    a, a:visited {
        text-decoration: none;
        text-transform: none;
        
        cursor: pointer;
    }
    
    a:hover, a:active {
        text-decoration: none;
        text-transform: none;
    }
}

#left_contaienr {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    
    //background-color: lightcoral;
    @media all and (max-width: 480px) {
        top: 10px;
        width: 340px;
        margin-left: 5px;
        display: block;
        
        //display: none;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        top: 10px;
        width: 432px;
        margin-left: 30px;
        display: block;
        
        //left: -500px;
        //display: none;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        width: 260px;
    }
    @media all and (min-width: 1024px) {
        width: 300px;
    }
}

#right_container {
    position: absolute;
    
    top: 0px;
    display: inline-block;
    
    @media all and (max-width: 480px) {
        top: 10px;
        width: 340px;
        left: 0px;
        margin-left: 5px;
        
        display: none;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        top: 10px;
        width: 432px;
        left: 0px;
        margin-left: 30px;
        display: none;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        right: 0px;
        width: 630px;
        min-height: 550px;
    }
    @media all and (min-width: 1024px) {
        right: 0px;
        width: 880px;
        min-height: 640px;
    }
}

#avatar_container {
    display: block;
    height: 580px;
    
    //background-color: $landing-light-color;
    background-color: #fff;
    
    @media all and (max-width: 480px) {
        
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        
    }
    @media all and (min-width: 1024px) {
        
    }
    
    .dug_container_header {
        background-color: $landing-dark-color;
    }
}

#avatar_content {
    margin: 0px;
    padding: 5px;
    //height: 94%;
    width: 260px;
    height: 550px;
    margin: auto;
    overflow: hidden;
    
    position: relative;
    
    background: url("http://107.170.225.139/partials/dressupgame/img/d_images/d_body_type_placeholder_260_tone9.png") no-repeat;
    
    @media all and (max-width: 480px) {
        
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        
    }
    @media all and (min-width: 1024px) {
        
    }
    
    img {
        margin: 0px;
        padding: 0px;
    }
}

#checkoutnow_btn {
    //position: absolute;
    //z-index: 20;
    
    //width: 100px;
    width: 100%;
    margin-top: 10px;
    font-size: 12pt;
    display: flex;
    background-color: $culture-dark-color;
    
    @include border-radius(10px);
    @include box-shadow(0px, 3px, 3px, #607c42);
    color: #fff;
    
    justify-content: center;
    align-items: center;
    
    //line-height: 2;
    //vertical-align: middle;
    
    @media all and (max-width: 767px) {
    //phone
        padding: 6px;
        //width: 150px;
        
        height: 40px;
        //font-size: 10pt;
        
        //top: 560px;
        //right: 10px;
    }
    @media all and (min-width: 768px) {
            //tablet
        padding: 10px;
        //width: 100px;
        
        
        //top: 10px;
        //right: 0px;
    }
}

#settings_container {
    display: block;
    margin-top: 10px;
    height: 130px;
    
    //background-color: $landing-light-color;
    @media all and (max-width: 480px) {
        
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        
    }
    @media all and (min-width: 1024px) {
        
    }
    
    .dug_container_header {
        background-color: $landing-dark-color;
    }
}

#settings_content {
    margin: 0px;
    padding: 5px;
    
    @media all and (max-width: 480px) {
        
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        //height: 80%;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        //height: 80%;
    }
    @media all and (min-width: 1024px) {
        //height: 94%;
    }
}

#options_rack_container {
    position: relative;
    
    @media all and (max-width: 480px) {
        //left: -500px;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        //left: -500px;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        height: 390px;
    }
    @media all and (min-width: 1024px) {
        height: 450px;
    }
}

#options_container {
    display: inline-block;
    top: 0px;
    left: 0px;
    
    background-color: $dressup-light-color;
    @media all and (max-width: 480px) {
        width: 100%;
        min-height: 500px;
        display: block;
        margin-bottom: 10px;
        
        position: absolute;
        //top: 0px;
        //left: -500px;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        width: 100%;
        min-height: 630px;
        display: block;
        margin-bottom: 10px;
        
        position: absolute;
        //top: 0px;
        //left: -500px;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        width: 420px;
        height: 390px;
    }
    @media all and (min-width: 1024px) {
        width: 700px;
        height: 450px;
    }
    
    .dug_container_header {
        background-color: $dressup-dark-color;
        height: 45px;
        
        span {
            width: 100%;
        }
        
        select {
            color: #000;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

#options_content {
    margin: 0px;
    padding: 5px;
    
    @media all and (max-width: 480px) {
        
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        height: 338px;
        overflow-y: auto;
    }
    @media all and (min-width: 1024px) {
        height: 398px;
        overflow-y: auto;
    }
    
}

#myrack_container {
    display: inline-block;
    position: absolute;
    top: 0px;
    
    background-color: $catalog-light-color;
    
    @media all and (max-width: 480px) {
        width: 100%;
        min-height: 500px;
        display: block;
        margin-bottom: 10px;
        
        //position: absolute;
        //top: 0px;
        //left: -500px;
        display: none;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        width: 100%;
        min-height: 630px;
        display: block;
        margin-bottom: 10px;
        
        //position: absolute;
        //top: 0px;
        //left: -500px;
        
        display: none;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        //top: 0px;
        width: 200px;
        height: 390px;
        right: 0px;
    }
    @media all and (min-width: 1024px) {
        //top: 0px;
        width: 170px;
        height: 450px;
        right: 0px;
    }
    
    .dug_container_header {
        background-color: $catalog-dark-color;
    }
}

#myrack_content {
    margin: 0px;
    padding: 5px;
    
    @media all and (max-width: 480px) {
        
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        height: 92%;
        overflow-x: auto;
    }
    @media all and (min-width: 1024px) {
        height: 93%;
        overflow-y: auto;
    }
}

#mypicks_container {
    display: block;
    
    margin-top: 10px;
    margin-bottom: 20px;
    
    background-color: $culture-light-color;
    @media all and (max-width: 480px) {
        width: 100%;
        min-height: 500px;
        display: block;
        margin-top: 0px;
        margin-bottom: 10px;
        
        position: absolute;
        top: 0px;
        //left: -500px;
        display: none;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        width: 100%;
        min-height: 630px;
        display: block;
        margin-top: 0px;
        margin-bottom: 10px;
        
        position: absolute;
        top: 0px;
        //left: -500px;
        display: none;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        min-height: 380px;
        //max-height: 480px;
    }
    @media all and (min-width: 1024px) {
        min-height: 330px;
        //max-height: 380px;
    }
    
    .dug_container_header {
        background-color: $culture-dark-color;
    }
}

#mypicks_content {
    margin: 0px;
    padding: 5px;
    height: 94%;
    
    @media all and (max-width: 480px) {
        
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        overflow-y: auto;
    }
    @media all and (min-width: 1024px) {
        //height: 94%;
        overflow-y: auto;
    }
}

#mypicks_nav {
    //display: inline-block;
    position: block;
    width: 100%;
    //float: left;
    @media all and (max-width: 767px) {
        width: 90%;
        display: block;
        position: relative;
        
    }
    
}

#mypicks_select_content{
    width: 100%;
    //margin-left: 220px;
    
    @media all and (max-width: 767px) {
        
        display: block;
        margin-left: 0px;
    }
    @media all and (min-width: 768px) and (max-width: 1023px) {
        //width: 400px;
    }
    @media all and (min-width: 1024px) {
        //width: 600px;
    }
}

.dug_clothes_box {
    position: absolute;
}

.clothes_top {
    width: 170px;
    height: 140px;
    
    top: 98px;
    left: 0px;
    
    //@include opacity($color, $opacity);
    
    //background-color: opacity(lightgreen, 0.5);
}

.clothes_bottom {
    width: 170px;
    height: 290px;
    
    left: 0px;
    top: 228px;
    
    //@include opacity($color, $opacity);
    
    //background-color: opacity(lightgoldenrodyellow, 0.5);
    //color: lightyellow;
}

.clothes_full {
    width: 170px;
    height: 430px;
    
    top: 95px;
    left: 2px;
    
    //display: none;
    
    //@include opacity($color, $opacity);
    
    //background-color: opacity(lightsalmon, 0.5);
}

#clothes_top_test1 {
    display: none;
}
#clothes_top_test2 {
    display: none;
}

#clothes_bottom_test1 {
    display: none;
}

#clothes_bottom_test2 {
    display: none;
}

#clothes_full_test1 {
    display: none;
}

#clothes_full_test2 {
    display: none;
}

#clothes_bottom_test3,
#clothes_bottom_test4,
#clothes_top_test3,
#clothes_top_test4,
#clothes_top_test5,
#clothes_top_test6,
#clothes_full_test3,
#clothes_full_test4,
#clothes_full_test5,
#clothes_full_test6,
#clothes_full_test7 {
    display: none;
}

#settings_tone_box {
    display: inline-block;
    float: left;
    
    height: 70px;
    
    margin-right: 10px;
    
    //background-color: lightgray;
    @media all and (max-width: 480px) {
        display: block;
        width: 80%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        display: block;
        width: 100%;
        height: 100px;
    }
    @media all and (min-width: 768px) {
        width: 100px;
        height: 250px;
    }
}

.setting_tone_pick {
    display: inline-block;
    
    width: 45px;
    height: 45px;
    
    @include border-radius(50px);
    
    @media all and (max-width: 767px) {
        width: 45px;
        height: 45px;
    }
    //background-color: chocolate;
    
    cursor: pointer;
}

#skin_tone_1 {
    background-color: #FAE7D0;
}

#skin_tone_2 {
    background-color: #FFCC99;
}

#skin_tone_3 {
    background-color: #FEB186;
}

#skin_tone_4 {
    background-color: #B98865;
}

#skin_tone_5 {
    background-color: #aa724B;
}

#skin_tone_6 {
    background-color: #C18e74;
}

#skin_tone_7 {
    background-color: #935D37;
}

#skin_tone_8 {
    background-color: #7B4B2A;
}

#skin_tone_9 {
    background-color: #573719;
}

#skin_tone_10 {
    background-color: #483728;
}

#settings_other_box {
    display: inline-block;
    
    //height: 100%;
    //background-color: lightpink;
    
    margin-left: auto;
    margin-right: auto;
    
    img {
        margin-left: auto;
        margin-right: auto;
    }
    @media all and (max-width: 480px) {
        display: block;
        width: 80%;
    }
    @media all and (min-width: 481px) and (max-width: 767px) {
        display: block;
        width: 100%;
    }
    @media all and (min-width: 768px) {
        width: 140px;
    }
}

.settings_icon {
    padding: 0px;
    display: inline-block;
    
    width: 65px;
    height: 65px;
    
    margin: auto;
    
    cursor: pointer;
}

.hanger_box {
    //background: 
}

.hanger_header {
    
}

.hanger_img {
    background: url("http://107.170.225.139/partials/dressupgame/img/d_images/singlehanger_120.png") no-repeat;
}

.content_to_expand {
    @inlcude transition(all, 0.6s, cubic-bezier(0.77, 0, 0.175, 1), 0.1s);
}