#dug_order_container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    h1, h2, h3, h4, h5, h6, legend {
        text-align: center;
    }
    
    //background-color: opacity($dressup-light-color, 0.7);
}

#order_box {
    
}

#order_items_box {
    
}

#dug_order_container form {
    //position: relative;
    
    //width: 300px;
    padding: 20px;
    
    fieldset {
        margin-bottom: 30px;
        
    }
    
    legend{
        
    }
    
    select {
        width: 70%;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    input {
        //width: 50px;
        //margin-left: 20px;
        margin-bottom: 10px;
    }
    
    button {
        margin-bottom: 5px;
        //position: absolute;
        //right: 0px;
        border: none;
        outline: none;
        
        margin-left: 70px;
        
    }
    
    button[type=reset] {
        background-color: $catalog-light-color;
        @include box-shadow(0px, 1px, 1px, $catalog-dark-color);
    }
    
    button[type=submit] {
        background-color: $culture-light-color;
        @include box-shadow(0px, 1px, 1px, #607c42);
    }
}

