#dug_order_container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    h1, h2, h3, h4, h5, h6, legend {
        text-align: center;
    }
    
    //background-color: opacity($dressup-light-color, 0.7);
}



#dug_order_container {
    position: relative;
    margin-top: 50px;
    
    #order_getitmade_pic {
        
        
        
        //-webkit-transform: rotate(45deg);
        
        @media all and (max-width: 767px) {
            position: relative;
            padding: 0px;
            width: 135px;
            margin-left: auto;
            margin-right: auto;
            
        }
        @media all and (min-width: 768px) {
            position: absolute;
            padding: 0px;
            top: -60px;
            left: -40px;
            @include rotate-transform(-15deg);
        }
    }
    
    #order_box {
        //background-color: lightcoral;
        width: 100%;
        min-height: 100px;
    }
    #order_items_box {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        
        @media all and (max-width: 767px) {
            
        }
        @media all and (min-width: 768px) {
            width: 85%;
            //display: flex;
            //align-content: center;
            text-align: center;
            
        }
    }
}

#dug_order_container form {
    //position: relative;
    
    //width: 300px;
    padding: 20px;
    
    fieldset {
        margin-bottom: 30px;
        
    }
    
    legend{
        
    }
    
    select {
        //width: 70%;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    input {
        //width: 50px;
        //margin-left: 20px;
        margin-bottom: 10px;
    }
    
    button {
        margin-bottom: 5px;
        //position: absolute;
        //right: 0px;
        border: none;
        outline: none;
        
        margin-left: 70px;
        
    }
    
    button[type=reset] {
        background-color: $catalog-light-color;
        @include box-shadow(0px, 1px, 1px, $catalog-dark-color);
    }
    
    button[type=submit] {
        background-color: $culture-light-color;
        @include box-shadow(0px, 1px, 1px, #607c42);
    }
}

