<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
    <title>Catalog</title>
</head>

<body>
    <!-- start global navbar-->
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid"  id="navbar_container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#inside_nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="index.html"><img alt="From West Africa with Love" src="../img/logos/logo03_huge_200.png" /></a>
                </div>
                
                <div class="nav-collapse navbar-responsive-collapse" id="inside_nav">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active">
                            <a href="catalog.html">Catalog</a>
                        </li>
                        <li>
                            <a href="dressupgame/play.html">Play!</a>
                        </li>
                        <!--<li>
                            <a href="#">Culture</a>
                        </li>-->
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        
                    </ul> <!-- end links list -->
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="search" />
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                    </form><!--navbar form-->
                    
                    <!-- input group nav
                    <div class="input-group navbar-left">
                        <input type="text" class="form-control" placeholder="search" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div> -->
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><span class="fake_button">Login</span></a>
                        </li>
                        <li>
                            <a href="#"><img src="../img/icons/icon-basket_40x40.png" alt="shopping basket" /></a>
                        </li>
                    </ul><!-- end right pull-->
                    
                </div>
                <!--end nav collapse-->
            </div>
        </div> <!-- end global navbar-->

    <div class="main_container">
        <h1>Catalog</h1>
        <div id="catalog_page_container">
            <div id="catalog_nav">
                <ul>
                    <li value="none">All</li>
                    <li value="none" class="catalog_nav_header">Fabric</li>
                        <ul>
                            <li value="fabric_angelica">Angelica</li>
                            <li value="fabric_batik">Batik</li>
                            <li value="fabric_ankara">Ankara</li>
                            <li value="fabric_kente">Kente</li>
                            <li value="fabric_wax">Wax</li>
                        </ul>
                    <li value="none" class="catalog_nav_header">Colors</li>
                        <ul>
                            <li value="color_rainbow">Rainbow</li>
                            <li value="color_red">Red</li>
                            <li value="color_pink">Pink</li>
                            <li value="color_orange">Orange</li>
                            <li value="color_yellow">Yellow</li>
                            <li value="color_green">Green</li>
                            <li value="color_blue">Blue</li>
                            <li value="color_purple">Purple</li>
                            <li value="color_brown">Brown</li>
                            <li value="color_white">White</li> <!--
                            <li value="color_grey">Grey</li> -->
                            <li value="color_black">Black</li>
                        </ul>
                </ul>
            </div>
            <div id="catalog_display">
                <div id="catalog_content">
                    
                    
                    <div class="selection_box styles_fabric_angelica styles_color_blue styles_color_white">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/angelica_blue_white.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_green">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/ankara_green.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_pink styles_color_blue styles_color_purple">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_blue_pink_purple.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_pink">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_pink.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_white styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_black_white.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_red styles_color_blue styles_color_brown styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_blue_red_brown_black.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_pink styles_color_yellow">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_pink_yellow.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_kente styles_color_red styles_color_yellow styles_color_green styles_color_blue">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/kente_green_red_yellow_blue.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_wax styles_color_pink styles_color_orange styles_color_blue">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/wax_pink_orange_blue.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_kente styles_color_red styles_color_yellow styles_color_green styles_color_blue styles_color_brown">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/kente_green_red_yellow_blue_brown.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_blue styles_color_white">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_white_blue.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_pink styles_color_yellow styles_color_blue">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_blue_yellow_pink.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_wax styles_color_white styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_black_white_1.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_pink styles_color_blue">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_pink_blue.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_orange styles_color_purple styles_color_brown">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_brown_purple_orange.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_orange styles_color_yellow styles_color_blue">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/ankara_orange_blue_yellow.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_angelica styles_color_orange styles_color_yellow styles_color_green styles_color_blue styles_color_purple styles_color_brown">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/angelica_blue_yellow_orange_purple_brown_green.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_angelica styles_color_orange styles_color_yellow styles_color_green styles_color_blue styles_color_purple styles_color_brown">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/angelica_blue_yellow_orange_purple_brown_green1.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_orange styles_color_green styles_color_purple">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/ankara_orange_purple_green.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_green">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_green.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_pink styles_color_green">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_pink_green.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_wax styles_color_white styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_black_white_2.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_brown styles_color_white styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_brown_white_black.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_kente styles_color_orange styles_color_yellow styles_color_green styles_color_blue styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/kente_black_orange_blue_green_yellow.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_kente styles_color_pink styles_color_yellow styles_color_green styles_color_brown">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/kente_pink_green_yellow_brown.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_wax styles_color_white styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/wax_black_white.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_kente styles_color_white styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/kente_black_white.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_yellow styles_color_brown">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_brown_yellow.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_white styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_black_white_3.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_purple">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_purple.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_pink styles_color_green">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_green_pink.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_blue">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_blue.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_angelica styles_color_orange styles_color_yellow styles_color_green styles_color_purple">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/angelica_green_purple_yellow_orange.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_angelica styles_color_orange styles_color_yellow styles_color_green styles_color_purple">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/angelica_green_purple_yellow_orange1.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_green styles_color_blue">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_blue_green.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_orange styles_color_purple">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_orange_purple.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_batik styles_color_red styles_color_brown">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/batik_red_brown.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_wax styles_color_white styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_black_white_4.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_ankara styles_color_green styles_color_brown">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/cotton_green_brown.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_kente styles_color_red styles_color_yellow styles_color_green styles_color_blue styles_color_brown styles_color_white">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/kente_green_red_blue_yellow_brown_white.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    <div class="selection_box styles_fabric_wax styles_color_white styles_color_black">
                        <div class="selection_header"><span>Item</span><span class="glyphicon glyphicon-plus"></span></div>
                        <div class="selection_img">
                            <img src="../img/catalog/wax_black_white_1.png" />
                        </div>
                    </div> <!-- end selection -->
                    
                    
                    
                    
                    
                </div>
            </div>
        </div>
        <!--
        <ul>
            <li><a href="dashboard.html">Dashboard</a>
            </li>
            <li><a href="catalog.html">Catalog</a>
            </li>
            <li><a href="culture.html">Culture</a>
            </li>
            <li><a href="faq.html">FAQ</a>
            </li>
            <li><a href="dressupgame/dressupgame.html">dress up game</a>
            </li>
            <li><a href="dressupgame/dressupgame_m.html">dress up game mobile</a>
            </li>
        </ul> -->
    </div>
    </body>
    <script src="../js/nav.js"></script>
    <script src="../js/catalog.js"></script>
</html>