<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        
        <title>Culture</title>
    </head>
    <body>
        <!-- start global navbar-->
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="container-fluid"  id="navbar_container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#inside_nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                    <a class="navbar-brand" href="/">Logo here</a>
                </div>
                
                <div class="nav-collapse navbar-responsive-collapse collapse" id="inside_nav">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Link1</a>
                        </li>
                        <li>
                            <a href="#">Link2</a>
                        </li>
                        
                    </ul> <!-- end links list -->
                    
                    <form class="navbar-form navbar-left">
                        <input type="text" class="form-control" placeholder="search" />
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                    </form><!--navbar form-->
                    
                    <!-- input group nav
                    <div class="input-group navbar-left">
                        <input type="text" class="form-control" placeholder="search" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div> -->
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-user"></span> My Account</a>
                        </li>
                    </ul><!-- end right pull-->
                    
                </div>
                <!--end nav collapse-->
            </div>
        </div> <!-- end global navbar-->
        <h1>Culture</h1>
        
    </body>
</html>